.fc-content .fc-time {
  display: none;
}
body .fc-event {
  border: 1px solid #d9dce1;
  background-color: #d9dce1;
  color: black;
}
body .fc .fc-button-group > * {
  margin: 2px;
}
/*# sourceMappingURL=calendar.css.map */