body .btn-warning {
  border-color: #fcd315;
  background-color: #fcd315;
  color: #fff;
}
body .btn-warning:hover {
  border-color: #fcd315;
}
body .btn-warning:focus {
  border-color: #fcd315;
}
body .btn-warning:hover {
  background-color: #ffe426;
  color: #fff;
}
body .btn-warning:focus {
  background-color: #ffe426;
  color: #fff;
}
body .btn-warning:active {
  background-color: #ffe426 !important;
  color: #fff;
}
body .btn-danger {
  border-color: #fcd315;
  background-color: #fcd315;
  color: #fff;
}
body .btn-danger:hover {
  border-color: #fcd315;
}
body .btn-danger:focus {
  border-color: #fcd315;
}
body .btn-danger:hover {
  background-color: #ffe426;
  color: #fff;
}
body .btn-danger:focus {
  background-color: #ffe426;
  color: #fff;
}
body .btn-danger:active {
  background-color: #ffe426 !important;
  color: #fff;
}
body a.list-group-item {
  border-color: #fcd315;
}
body a.list-group-item:hover {
  border-color: #fcd315;
}
body a.list-group-item:focus {
  border-color: #fcd315;
}
body pre {
  background-color: #ffffaa;
}
.navbar-right a {
  color: black;
}
/*# sourceMappingURL=nadpisywanie_bootstrapa.css.map */