.niewidzialny, .dz-preview{
    display: none;
}

.photo-change-overflow{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    color: #FFF;
    text-align: center;
    padding-top: 47%;
    opacity: 0;

}

.magazyn_dodawanie textarea.form-control{
    height: auto;
}

@media (max-width: 768px){
    #chowanie_akcja{

    }

    #zalogowany span,#zalogowany b{
        
    }
}

.zasob_naglowek{
    height: 110px;
}

.brak_uzytkownika{
    background-color: #eee;
}

.style_kalendarza{
    margin-bottom: 20px;
}

.avatar_miniaturka{
    width: 30px;
    height: 30px;
    float: right;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: auto 100%;
    border-radius: 50%;
}

.avatar{
    float: right;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    border-radius: 50%;
}

.avatar_duzy{
    width: 150px;
    height: 150px;
    background-size: auto 100%;

}

#usun_klienta_wraper{
    display:none;
}

.zmien_status_klienta{
    margin-top: 10px;
    margin-bottom: 0px;
}

.dodaj_notatke{
    margin-bottom: 10px;

}

.czarny_link{
    color: black;
}

.rozmowa.list-group-item{
    min-height: auto;}

.przyciski_watku_wiadomosci{
    width: 100%;
}

.rozmowa.list-group-item{
    background-color: transparent;}

.zalacznik_wiadomosci{
    max-width: 50px;
    height: 50px;
    background-size: 100% 100%;
}

.nieprzeczytana .uzytkownik,.nieprzeczytana em{
    color: red;
}

#kalendarz_dodaj_zecenie_wraper, #wyszukiwanie_tmp{
    display:none;
}

.well.login-reg-form{
    width: 500px;
    margin: 0 auto;
    margin-top: 60px;
    height: 250px;
}
.btn-yellow{
    background-color: #fcd315
}
