/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
  background-color: #d9dce1;
}
#wrapper {
  width: 100%;
  background-color: #000;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
  background: #d9dce1;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
    background: #d9dce1;
  }
}
h1 {
  font-size: 20px;
}
.page-header {
  border: none;
  margin: 20px 0 10px;
}
.panel-heading {
  font-weight: 600;
}
.liczba_zlecen {
  padding: 10px 0px;
}
.tytul_liczba_zlecen {
  padding: 10px 15px;
}
a {
  color: white;
}
td a {
  color: black;
}
.menu_napis {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  float: none;
  margin: 40px;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-default {
  background-color: white;
  border: none;
}
.navbar-default .navbar-brand {
  color: #eee;
}
.navbar-top-links li {
  display: inline-block;
  line-height: 2;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 6px 15px;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
  width: 140px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
  width: 280px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
  width: 280px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li a.active {
  color: black;
  background-color: #fcd315;
  padding: 10px 20px;
}
.sidebar ul li a {
  padding: 10px 20px;
  color: #d9dce1;
  font-weight: bold;
}
.sidebar ul li a:hover {
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  color: black;
  background: #d9dce1;
}
rect {
  fill: #c00000;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
.sidebar {
  background-color: #000;
  /*background-color: #9d9e98; wersja ciemna*/
  /*background-color: #e1cfa1; wersja jasna optymistyczna*/
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 450px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
.list-group .zgloszenie {
  color: white;
  background-color: #fcd315;
}
.zgloszenia {
  background-color: #fcd315;
}
.zgloszenie_czas {
  color: white;
}
.zlecenie_nazwa {
  font-weight: normal;
}
.panel-default .zgloszenia_tytul {
  background-color: #fcd315;
  color: white;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
}
.zlecenia {
  padding: 0px;
}
.huge2 .zlecenia_podzial {
  font-size: inherit;
  padding: 1px 6px;
  font-weight: 600;
  border-radius: 4px;
  background: #fcd315;
  color: white;
  width: 15.8%;
  margin-right: 2px;
  margin-left: 2px;
}
.sidebar-search {
  margin-top: 10px;
}
.baton_klienci {
  width: 80px;
  font-weight: bold;
  border: none;
  font-size: 14px;
}
.list-group .nadawca {
  border: 1px solid #ddd;
  border-radius: 0px;
  margin-bottom: -1px;
  height: 85px;
}
.konwersacje_caly .rozmowa {
  border: none;
  border-radius: 0px;
  margin-bottom: -1px;
}
.konwersacje {
  padding: 0px;
}
.szukaj_nad {
  margin-top: 0px;
  padding-top: 23px;
  padding-right: 10px;
  padding-left: 10px;
}
.obraz_nad {
  height: 40px;
  margin-right: 10px;
}
.konwersacje_caly {
  margin-bottom: 0px;
}
.konwersacje_caly .nadawca {
  margin-bottom: 0px;
  margin-bottom: -1px;
}
.konwersacje_caly .nadawca1 {
  margin-bottom: 0px;
  border-left: 0px;
  border-top: 1px solid #ddd;
  border-radius: 0px;
  color: #555;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  min-height: 4em;
  height: 85px;
}
.konwersacje2 {
  padding: 0px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rozmowy {
  padding: 0px;
}
.rozmowa_teraz {
  margin: 10px 15px;
  padding: 0;
  border: none;
  margin-bottom: 30px;
  float: left;
}
.skrzynka {
  float: left;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: 0px;
  margin-right: -1px;
  color: #333;
}
.skrzynka_gora {
  padding: 0px;
  margin-top: 10px;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee!important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 28px;
  font-weight: bold;
  color: #fcd315;
  text-align: center;
}
h1.huge {
  color: black;
}
.liczba_zlecen_napis {
  color: black;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}
.huge2 {
  color: black;
  font-size: 12px;
  margin-left: -20px;
  margin-right: -20px;
  min-height: 1px;
  margin-top: 20px;
}
.huge3 {
  color: black;
  font-size: 12px;
  text-align: left;
  min-height: 60px;
}
.users {
  padding: 0px;
}
.uzytkownik {
  margin-left: 60px;
  padding-top: 15px;
  color: #333;
}
.klienci_caly {
  padding-top: 0px;
  margin-top: -10px;
}
.klienci_liczba {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: -10px;
}
.panel-primary {
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: none;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-default {
  border: none;
}
.panel-heading {
  border: none;
}
.klienci {
  padding: 0px;
  text-align: center;
}
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-green a {
  color: #5cb85c;
}
.panel-green a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.panel-red a {
  color: #d9534f;
}
.panel-red a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-yellow a {
  color: #f0ad4e;
}
.panel-yellow a:hover {
  color: #df8a13;
}
.odp_nad {
  background: #c00000;
  margin-left: 60px;
  border-radius: 20px;
}
.odp_srodek {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 14px 20px;
}
.odp_adr {
  background: black;
  margin-left: 60px;
  border-radius: 20px;
}
.tylul_maila {
  font-size: 20px;
  margin-bottom: 8px;
}
.klient_adres {
  font-weight: bold;
  margin-bottom: 10px;
}
.klient_faktura {
  font-weight: bold;
  margin-bottom: 10px;
}
.klient_notatka {
  font-weight: bold;
  margin-bottom: 10px;
}
.klient_poczta {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}
.klient_avatar .img-circle {
  max-width: 50px;
}
.tresc {
  margin-bottom: 10px;
}
.form-group .notes {
  height: 200px;
}
.notes_tekst {
  margin-bottom: 10px;
}
.bez_flo {
  float: none;
}
.flol {
  float: left;
}
.priorytet {
  margin-bottom: 30px;
  margin-left: 300px;
  margin-top: 20px;
}
.prio_czek {
  margin-left: 20px;
}
.form-group .duzy_box {
  height: 300px;
}
.status_obok {
  display: table-row;
  margin-left: 20px;
}
.wyszukiwarka_glowna {
  width: 220px;
  margin: 0 20px;
  float: left;
  padding-top: 14px;
  position: relative;
  margin-left: 20px;
}
.wyszukiwarka_przycisk {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.wyszukiwarka_pole {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border: none;
}
.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  padding: 5px;
  margin-left: 5px;
}
.logo_obrazek img {
  height: 50px;
}
.user_avatar img {
  width: 32px;
  height: 31px;
}
.user_avatar {
  margin-right: 10px;
}
.dodaj_menu {
  border-radius: 999px;
  width: 100px;
}
.szukaj_przycisk {
  border: 1px solid #ccc;
}
.wyszukaj_gora {
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.kropkaz {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  float: right;
  margin-top: -20px;
}
.kropkac {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  float: right;
  margin-top: -20px;
  background: #EA5944;
}
.zalognie {
  color: #262626;
  padding: 3px 10px;
  background: #E4E4E4;
  margin-top: 10px;
  text-align: center;
}
.zalogowani {
  min-height: 50px;
}
.zalogowani a {
  min-height: 50px;
}
.szczegóły_klienta {
  float: right;
}
.kontakt {
  padding: 10px 15px;
}
.kontakt_avatar img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}
.dodaj {
  margin-right: 15px;
}
.zielony {
  color: #029a36;
  font-weight: bold;
  text-align: center;
}
.pomarancz {
  color: #fe9e0b;
  font-weight: bold;
  text-align: center;
}
.czerwony {
  color: #de1f26;
  font-weight: bold;
  text-align: center;
}
.ile_powiadomien {
  border-radius: 20px;
  padding: 2px;
  width: 32px;
  height: 32px;
  float: left;
  text-align: center;
  margin-right: 5px;
  background: #333333;
  font-weight: bold;
  color: white;
}
.pasek_gorny .chowanie {
  float: left;
  font-size: 26px;
  padding: 17px;
  margin-left: 26px;
  color: #333;
}
.nowa_kat {
  float: left;
  margin-left: 20px;
}
.kategorie {
  float: left;
}
.nowa_kategoria {
  margin-left: 300px;
  margin-top: 20px;
}
.notatka_gora {
  color: black;
  padding: 10px 0px;
}
.komunikat_button {
  text-align: center;
  padding: 10px;
}
.dropdown-menu .niezalogowani a {
  min-height: 75px;
}
#wrapper .zwiniety {
  margin-left: 80px;
}
.zwiniety_sidebar span.menu_zwiniete {
  display: none;
}
.zwiniety_sidebar {
  width: 80px;
}
.wybór_projekty {
  margin-top: 20px;
}
.zapis_zlecen {
  margin-bottom: 50px;
}
.dodaj_klienta {
  float: right;
  margin-top: -50px;
}
.nowe_pole {
  float: left;
}
.klientsz_avatar img {
  width: 200px;
  max-height: 200px;
}
.klientsz_avatar {
  margin-right: 30px;
}
.nazwa_user_sz {
  font-size: 16px;
}
.status_user_sz {
  font-size: 14px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-left: 220px;
}
.user_sz {
  margin-left: 220px;
  padding-left: 15px;
  font-weight: normal;
}
.user_sz_podkreslony {
  margin-left: 220px;
  padding-left: 15px;
  font-weight: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.przycisk_edytor a {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
}
.dodaj_dj {
  float: right;
}
.tabela_dj {
  margin-top: 10px;
}
.box2 {
  padding: 0px;
}
.nazwa_domeny {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.dodawanie_domeny {
  margin-top: 50px;
}
.dodaj_domene {
  float: right;
}
.strzalka_obrazek {
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
}
.opis_domeny {
  margin-right: 10px;
}
.data_wygasniecia {
  color: gray;
}
.domeny {
  color: black;
}
.zapis_domena {
  margin-bottom: 20px;
}
.tekst_norm {
  font-weight: normal;
}
.tytul_domeny {
  font-size: 18px;
  margin-bottom: 10px;
}
.info_seo {
  margin-top: 10px;
}
.marg_right {
  margin-right: 10px;
}
.nazwa_serwera {
  font-size: 18px;
  font-weight: bold;
  color: #337AB7;
  margin-right: 10px;
  margin-top: -3px;
}
.ip_serwera {
  font-size: 14px;
  color: gray;
}
.info_serwera {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
li {
  list-style: none;
}
.przypom_menu {
  float: right;
  margin-left: -60px;
  margin-right: 10px;
  margin-top: -6px;
  padding-top: 5px;
}
.lista_domen {
  padding: 0px;
}
.panel-heading a {
  color: black;
}
.obsluzeni_klienci {
  padding-top: 15px;
  color: #333;
}
.obsluzeni_klienci_lista {
  font-weight: normal;
  padding-top: 15px;
  color: #333;
}
.zapis_zalacznik {
  margin-bottom: 50px;
  margin-top: 20px;
}
.but_wynajem {
  margin-bottom: 10px;
}
.zasob {
  float: left;
  margin-right: 10px;
  height: 180px;
}
.zasob img {
  max-width: 100px;
  max-height: 110px;
}
.tekst_bold {
  font-weight: bold;
}
.tabela_mag {
  margin-top: 20px;
}
.magazyn_dodawanie {
  margin-top: 20px;
}
.wybor {
  float: left;
  margin-top: 5px;
}
.wybierz_zal {
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}
/*# sourceMappingURL=sb-admin-2.css.map */