<!DOCTYPE html><html><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cremini</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="<?php echo $this->basePath('css/cremini.css'); ?>" rel="stylesheet">
	<link href="<?php echo $this->basePath('css/cremini_logowanie.css'); ?>" rel="stylesheet">

	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<?php echo $this->basePath('js/cremini/logowanie.js'); ?>"></script>

    </head>
    <body class="cremini">
	<div class="container">
	    <div class="col-md-6 col-md-offset-3">
		<a href="<?php echo $this->url('home'); ?>">
		    <img src="<?php echo $this->basePath('img/logo.png'); ?>" style="width:100%">
		</a>
	    </div>
	    <div class="row">
		<div class="col-md-6 col-md-offset-3">
		    <div class="panel panel-login">
			<?php echo $this->content; ?>
		    </div>
		</div>
	    </div>
	</div>

    </body></html>