<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global Site Tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107396416-1"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments)};

  gtag('js', new Date());



  gtag('config', 'UA-107396416-1');

</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cremini</title>

    <!-- Bootstrap Core CSS -->
    <link href="<?php echo $this->basePath('bower_components/bootstrap/dist/css/bootstrap.min.css');?>" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="<?php echo $this->basePath('bower_components/font-awesome/css/font-awesome.min.css');?>" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="<?php echo $this->basePath('start/css/agency.min.css');?>" rel="stylesheet">
    <link href="<?php echo $this->basePath('start/css/pastmo.css');?>" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="page-scroll" href="#page-top"><img src="<?php echo $this->basePath('start/img/logo.png');?>" class="img-logo" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#prices">Cennik</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Moduły</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#functions">Funkcje</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                    <li>
                         <a href="<?php echo $this->url('logowanie');?>" class="btn btn-login">Logowanie</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Masz mini firmę? <br> Potrzebny Ci mini-CRM?</div>
                <div class="intro-heading">Cremini to rozwiązanie dla Ciebie!</div>
                <a href="#prices" class="page-scroll btn btn-xl">Testuj przez 7 dni za darmo</a>
            </div>
        </div>
    </header>

    <!-- Prices Section -->
    <section id="prices">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cennik</h2>
                    <h3 class="section-subheading text-muted"><br></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>1 miesiąc</h4>
                        </div>
                        <div class="panel-body">
                            <div class="circle">
                                <br>
                                <h3>10,00</h3>
                                <h5>pln</h5>
                            </div>
                        </div>
                        <div class="panel-footer">
			    <form action="<?php echo $this->url('logowanie', ['action'=>'rejestracja']);?>" method="get">
				<button type="submit" class="btn btn-buy btn-xl">wypróbuj</button>
			    </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>3 miesiące</h4>
                        </div>
                        <div class="panel-body">
                            <div class="circle">
                                <br>
                                <h3>28,00</h3>
                                <h5>pln</h5>
                            </div>
                        </div>
                        <div class="panel-footer">
			    <form action="<?php echo $this->url('logowanie', ['action'=>'rejestracja']);?>" method="get">
				<button type="submit" class="btn btn-xl btn-buy">wypróbuj</button>
			    </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>1 rok</h4>
                        </div>
                        <div class="panel-body">
                            <div class="circle">
                                <br>
                                <h3>100,00</h3>
                                <h5>pln</h5>
                            </div>
                        </div>
                        <div class="panel-footer">
			    <form action="<?php echo $this->url('logowanie', ['action'=>'rejestracja']);?>" method="get">
				<button type="submit" class="btn btn-buy btn-xl">wypróbuj</button>
			    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modules Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Moduły</h2>
                    <h3 class="section-subheading text-muted"><br></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<?php echo $this->basePath('start/img/portfolio/pulpit.png');?>" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pulpit</h4>
                        <p class="text-muted">Główny panel CRM</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<?php echo $this->basePath('start/img/portfolio/poczta2.png');?>" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Poczta</h4>
                        <p class="text-muted">Obsługa poczty e-mail</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<?php echo $this->basePath('start/img/portfolio/kalendarz.png');?>" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Kalendarz</h4>
                        <p class="text-muted">Monitorowanie zleceń</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<?php echo $this->basePath('start/img/portfolio/zleceniab.png');?>" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Zlecenia</h4>
                        <p class="text-muted">Dodawanie zleceń</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<?php echo $this->basePath('start/img/portfolio/klienci1.png');?>" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Klienci</h4>
                        <p class="text-muted">Informacje o klientach</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<?php echo $this->basePath('start/img/portfolio/faktury.png');?>" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Faktury</h4>
                        <p class="text-muted">Generowanie faktur</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Functions Section -->
    <section id="functions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Funkcje</h2>
                    <h3 class="section-subheading text-muted">...dostosowane do potrzeb Twojej firmy</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 function-item">
                    <div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Integracja z pocztą e-mail</h4>
                    <p class="text-muted">Nasz system CRM umożliwia integrację z pocztą elektroniczną. Dzięki temu kontakt z klientem to sama przyjemność.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 function-item">
                    <div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Kalendarz</h4>
                    <p class="text-muted">Uporządkuj wszystkie ważne wydarzenia za pomocą kilku kliknięć. Z naszym kalendarzem dotrzymywanie terminów to pestka.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 function-item">
                    <div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Baza klientów</h4>
                    <p class="text-muted">Przejrzyście przedstawione dane personalne oraz teleadresowe o każdym kontrahencie. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 function-item">
                    <div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Zarządzanie zleceniami</h4>
                    <p class="text-muted">Cremini umożliwia kompleksowe zarządzanie firmą poprzez monitorowanie statusów zleceń oraz możliwość przeglądania ich w kalendarzu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 function-item">
                	<div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-history fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Historia zleceń</h4>
                    <p class="text-muted">Którzy klienci zamawiają najczęściej, a którzy najwięcej? Wszystkie informacje dotyczące zleceń znajdziesz w jednym miejscu. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 function-item">
                    <div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-files-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Wystawianie faktur/rachunków</h4>
                    <p class="text-muted">Jak prowadzić firmę online? Z nami szybko i w prosty sposób wystawisz fakturę lub rachunek w oknie swojej przeglądarki.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 function-item">
                    <div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Przechowywanie plików firmowych</h4>
                    <p class="text-muted">Często zastanawiasz się czy ważny plik jest na domowym komputerze, firmowym laptopie lub w jednym z e-maili? Dzięki nam nie musisz, bo wszystkie pliki masz zawsze pod ręką.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 function-item">
                    <div class="col-sm-4 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bell-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                    <h4 class="function-heading">Powiadomienia</h4>
                    <p class="text-muted">Wygodny system powiadomień nie pozwoli zapomnieć o żadnym zbliżającym się terminie. Już nic nie umknie Twojej uwadze.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients hide">
        <div class="container">
            <div class="row ">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="<?php echo $this->basePath('start/img/logos/envato.jpg');?>" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="<?php echo $this->basePath('start/img/logos/designmodo.jpg');?>" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="<?php echo $this->basePath('start/img/logos/themeforest.jpg');?>" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="<?php echo $this->basePath('start/img/logos/creative-market.jpg');?>" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container hidden">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt</h2>
                    <h3 class="section-subheading text-muted">Zapraszamy do kontaktu</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Imię i nazwisko *" id="name" required data-validation-required-message="Proszę wprowadź swoje imię i nazwisko.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Adres email *" id="email" required data-validation-required-message="Proszę wprowadź swój adres email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Wiadomość *" id="message" required data-validation-required-message="Proszę wprowadź wiadomość."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Wyślij</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div>
                    <span class="copyright">Copyright &copy; Pastmo 2017</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Pulpit</h2>
                                <p class="item-intro text-muted"><br></p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/pulpit1b.png');?>" alt="">
<!--                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Poczta</h2>
                                <p class="item-intro text-muted"><br></p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/poczta1b.png');?>" alt="">
<!--                                <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Kalendarz</h2>
                                <p class="item-intro text-muted"> <br></p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/kalendarz1.png');?>" alt="">
<!--                                <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Zlecenia</h2>
                                <p class="item-intro text-muted"><br>Dodawanie zleceń</p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/zlecenia1b.png');?>" alt="">
                                <p class="item-intro text-muted"><br>Przeglądanie zleceń</p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/zlecenia2b.png');?>" alt="">
<!--                                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Baza klientów</h2>
                                <p class="item-intro text-muted"><br></p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/klienci2.png');?>
				     " alt="">
<!--                                <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Faktury</h2>
                                <p class="item-intro text-muted"><br>Wystawianie faktur</p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/faktury1b.png');?>" alt="">
                                <p class="item-intro text-muted"><br>Przeglądanie faktur</p>
                                <img class="img-responsive img-centered" src="<?php echo $this->basePath('start/img/portfolio/faktury2b.png');?>" alt="">
<!--                                <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="<?php echo $this->basePath('bower_components/jquery/dist/jquery.min.js');?>"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<?php echo $this->basePath('bower_components/bootstrap/dist/js/bootstrap.min.js');?>"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="<?php echo $this->basePath('start/js/jqBootstrapValidation.js');?>"></script>
    <script src="<?php echo $this->basePath('start/js/contact_me.js');?>"></script>

    <!-- Theme JavaScript -->
    <script src="<?php echo $this->basePath('start/js/agency.min.js');?>"></script>

</body>

</html>
