@import "../kolory.less";

.loader {
    border: 16px solid black;
    border-top: 16px solid @glowny_kolor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
