<div class="nowa_firma">
    <form method="post" action="<?php
    echo $this->url('firmy', array("action" => "dodaj"));
    ?>">
        <h2><?php echo $this->translate("Nazwa firmy");?></h2>
        <input name="nazwa" type="text" class="form-control" placeholder="<?php echo $this->translate("Nazwa firmy");?>">
    </form>
</div>