<div>
    <h1>Dane firmy: <?php echo $firma->nazwa; ?></h1>
</div>

<div>
    <table class="width100proc"  cellspacing="0">
        <thead>
            <tr>
                <th><?php echo $this->translate("NIP");?></th>
                <th><?php echo $this->translate("Domyślny sprzedawca");?></th>
                <th><?php echo $this->translate("Kategoria lojalnościowa");?></th>
                <th><?php echo $this->translate("Data dodania");?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
		    <?php echo $firma->nip; ?>
                </td>
                <td>
		    <?php echo $firma->domyslny_sprzedawca; ?>
                </td>
                <td>
		    <?php echo $firma->kategoria_lojalnosciowa->nazwa; ?>
                </td>
                <td>
		    <?php echo $firma->data_dodania; ?>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2><?php echo $this->translate("Adres wysyłki");?></h2>
    
    <table class="width100proc"  cellspacing="0">
        <thead>
            <tr>
                <th><?php echo $this->translate("Adres wysyłki:");?></th>
                <th><?php echo $this->translate("Dane do faktury:");?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p><?php echo $firma->adres_wysylki->nazwa; ?></p>
                    <p> <?php echo $firma->adres_wysylki->osoba_kontaktowa . ' ' . $firma->adres_wysylki->telefon; ?> </p>
                    <p><?php
			echo $firma->adres_wysylki->wyswietlUliceNr();
			?></p>
                    <p><?php
			echo $firma->adres_wysylki->kod . ' '
			. $firma->adres_wysylki->miasto . ', '
			. $firma->adres_wysylki->kraj;
			?></p>
                </td>
                <td>
                    <p><?php echo $firma->adres_faktury->nazwa; ?></p>
		    <?php if ($firma->nip): ?>
                    <p>NIP: <?php echo $firma->nip; ?></p>
		    <?php endif; ?>
                    <p>
			<?php
			echo
			$firma->adres_faktury->wyswietlUliceNr();
			?></p>
                    <p><?php
			echo $firma->adres_faktury->kod . ' '
			. $firma->adres_faktury->miasto;
			?>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2><?php echo $this->translate("Użytkownicy firmy");?></h2>
    <table class="width100proc"  cellspacing="0">
        <thead>
            <tr>
                <th><?php echo $this->translate("Nazwa użytkownika");?></th>
                <th><?php echo $this->translate("Email");?></th>
                <th><?php echo $this->translate("Data utworzenia");?></th>
                <th><?php echo $this->translate("Telefon");?></th>
                <th><?php echo $this->translate("Telefon");?></th>
            </tr>
        </thead>
        <tbody>
	    <?php foreach ($firma->getUzytkownicy() as $uzytkownik): ?>
            <tr data-user-id="<?php echo $uzytkownik->id; ?>">
                <td>
			<?php echo $uzytkownik; ?>
                </td>
                <td>
			<?php echo $uzytkownik->mail; ?>
                </td>
                <td><?php echo $uzytkownik->data_dodania; ?></td>
                <td><?php echo $uzytkownik->telefon; ?></td>
                <td><?php echo $uzytkownik->telefon2; ?></td>
            </tr>
	    <?php endforeach; ?>
        </tbody>
    </table>
</div>