<?php
use Pastmo\Wspolne\Utils\EntityUtil;
?>
<script>
    function addEvents() {
    document.events = [
<?php foreach ($this->zlecenia as $zlecenie): ?>
        {
        "id": "<?php echo $zlecenie->id; ?>",
                "title": "<?php echo $zlecenie->tytul; ?>",
                "start": "<?php echo $zlecenie->data_rozpoczecia ?>",
                "end": "",
                'url': "<?php
    echo $this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)?$this->url('zlecenia', array('action' => 'edytuj', 'id' => $zlecenie->id), array(
        'query' => array(
            'back' => 'kalendarz',
        )
    )):'';
    ?>",
                "editable": 'false',
                "color": '',
        },
<?php endforeach; ?>
    ];

	document.edycjaZlecen=<?php echo $this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)?'true':'false';?>;

    }

</script>
<!-- start: Content -->
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h1 class="page-header">Kalendarz</h1>
            </div>
        </div></div>
</div>
<div class="row">
    <div class="box2 col-lg-12">
        <div class="box-content">
            <div class="row margin-left-none">
                <div class=" col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="calendar" class="style_kalendarza col-xlg-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="kalendarz_dodaj_zecenie_wraper">
    <div id="kalendarz_dodaj_zecenie">
        <?php echo $this->dodawanie_zlecenia; ?>
    </div>
</div>





<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/fullcalendar.min.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/calendar_funkcje.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/lang-all.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/calendar.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/mini_calendar.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/testy.js'));
\Application\Controller\LadowaczSkryptow::addCss($this->basePath('css/calendar.css'));