
<script>
    function addEvents() {
	document.events = [];

	document.edycjaZlecen =<?php echo $this->uprawnienia(Logowanie\Enumy\KodyUprawnien::zle_DODAWANIE_ZLECEN) ? 'true' : 'false'; ?>;

    }

</script>

<div class="row">
    <div class="box2 col-lg-12">
        <div class="box-content">
	    <button id="wykonaj" class="btn btn-danger">Testuj</button>
	</div>
    </div>
</div>
<div class="do_cyklicznych_testow">
    <button class="cykliczne_zdarzenie_btn" />
</div>


<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/moment.min.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/moment-recur.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/fullcalendar.min.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/calendar_funkcje.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/lang-all.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/calendar.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/mini_calendar.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/testy.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/cykliczne_zdarzenia.js'));

