<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2>
                        <i class="fa fa-user"></i>
                        <span class="break"></span>
                        <?php echo $this->translate("Lokalizacje");?></h2>
                </div>
                <div class="box-content">
                    <h1>
                        <?php echo $this->translate("Lista lokalizacji");?></h1>
                    <p>
                        <?php echo $this->translate("Moduł lokalizacyjny w trakcie przygotowań.");?>
                    </p>
                    <p>
                        <strong><?php echo $this->translate("Instrukcja:");?></strong>
                        <?php echo $this->translate
			    ("Wybierz język z którego chcesz tłumaczyć. W kolejnym ekranie wybierz plik do tłumaczenia i język który chcesz tłumaczyć.");
			?>
			<br/>
			<?php echo $this->translate
			    ('Aktualnie używanym językiem do testów jest "dev", użyj go w celu tłumaczenia na język angielski (wybierz pl, wybierz plik, wybierz z drugiego pola wyboru "dev").');
			?>
                    </p>
                    <p>
                        <strong><?php echo $this->translate("Dodatkowe opcje na ekranie tłumaczenia:");?></strong><br/>
                        <?php echo $this->translate
			    ("Kopiuj plik - kopiuje cały plik z języka po lewej stronie do języka po prawej stronie,");
			?>
			<br/>
                        <?php echo $this->translate
                            ("Kopiuj wszystkie pliki języka - kopiuje wszystkie pliki tłumaczenia z lewej strony do folderu języka po prawej stronie");
			?>
			<br/>
                        <?php echo $this->translate
			    ("(przy użyciu powyższych opcji pliki z języka po prawej stronie zostają nadpisane)");
			?>
                    </p>
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Nazwa");?></th>
                                <th><?php echo $this->translate("Akcja");?></th>
                            </tr>
                        </thead>
                        <tbody>
			    <tr>
                                <td>
                                    <a href="http://ggerp.pl/localizations/dev">
                                        <?php echo $this->translate("dev");?></a>
                                </td>
                                <td>
                                    <a class="delete-company" href="javascript:void(0)" data-localization-name="dev"><?php echo $this->translate("usuń");?></a>
                                </td>
                            </tr>
			    <tr>
                                <td>
                                    <a href="http://ggerp.pl/localizations/en">
                                        <?php echo $this->translate("en");?></a>
                                </td>
                                <td>
                                    <a class="delete-company" href="javascript:void(0)" data-localization-name="en"><?php echo $this->translate("usuń");?></a>
                                </td>
                            </tr>
			    <tr>
                                <td>
                                    <a href="http://ggerp.pl/localizations/pl">
                                        <?php echo $this->translate("pl");?></a>
                                </td>
                                <td>
                                    <a class="delete-company" href="javascript:void(0)" data-localization-name="pl"><?php echo $this->translate("usuń");?></a>
                                </td>
                            </tr>
			</tbody>
                    </table>
                    <h1>
                        <?php echo $this->translate("Dodaj nową lokalizacje");?></h1>
                    <p>
                        <?php echo $this->translate("Dodaj nowy język, podaj jego nazwę i język na którym ma bazować (zostanie utworzona kopia istniejącego języka z nową nazwą).");?>
                    </p>
                    <form method="post" class="form-inline">

                        <div class="form-group">
                            <input class="form-control" type="text" name="new_language_name" placeholder="<?php echo $this->translate("Nazwa");?>"/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="new_language_base">
				<option value="dev"><?php echo $this->translate("dev");?></option>
				<option value="en"><?php echo $this->translate("en");?></option>
				<option value="pl"><?php echo $this->translate("pl");?></option>
			    </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="<?php echo $this->translate("Dodaj nową");?>"/>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>