<!-- start: Content -->
<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
	<div class="col-lg-3">
	    <div class="box">
		<div class="box-header" data-original-title>
		    <h2>
			<?php echo $this->translate("Menu");?>
		    </h2>
		</div>
		<div class="box-content">
		    <ul class="list-unstyled files-menu">
			<li class="text-danger"><a href="<?php
			    echo $this->url('manager_plikow', ['action' => 'index']);
			    ?>"><i class="fa fa-home"></i> <?php echo $this->translate("Katalog główny");?></a></li>
			<li><a href="<?php
			    echo $this->url('manager_plikow', ['action' => 'udostepnione']);
			    ?>"><i class="fa fa-user"></i> <?php echo $this->translate("Udostępnione pliki dla mnie");?></a></li>
			<li><a href="<?php
			    echo $this->url('manager_plikow', ['action' => 'udostepniane']);
			    ?>"><i class="fa fa-location-arrow"></i> <?php echo $this->translate("Udostępniane pliki innym");?></a></li>
		    </ul>
		</div>
	    </div>
	</div>            <div class="col-lg-9">
	    <div class="box">
		<div class="box-header" data-original-title>
		    <h2>
			<i class="fa fa-user"></i>
			<span class="break"></span>
			<?php echo $this->translate("Files");?>
		    </h2>
		</div>
		<div id="folder" class="box-content" data-folder-id="<?php echo $folderId; ?>">
		    <div class="form-group clearfix">
			<button class="add-folder btn btn-primary btn-sm pull-right"><?php echo $this->translate("Create Folder");?></button>
		    </div>

		    <!-- The file upload form used as target for the file upload widget -->
		    <form id="fileupload" action="<?php
		    echo $this->url('manager_plikow', ['action' => 'upload_plik']);
		    ?>" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="folder_id" value="<?php echo $folderId; ?>"/>
			<!-- Redirect browsers with JavaScript disabled to the origin page -->
			<noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
			    <div class="col-lg-7">
				<!-- The fileinput-button span is used to style the file input field as button -->
				<span class="btn btn-success fileinput-button">
				    <i class="glyphicon glyphicon-plus"></i>
				    <span><?php echo $this->translate("Add files...");?></span>
				    <input type="file" name="files[]" multiple>
				</span>
				<button type="submit" class="btn btn-primary start">
				    <i class="glyphicon glyphicon-upload"></i>
				    <span><?php echo $this->translate("Start upload");?></span>
				</button>
				<button type="reset" class="btn btn-warning cancel">
				    <i class="glyphicon glyphicon-ban-circle"></i>
				    <span><?php echo $this->translate("Cancel upload");?></span>
				</button>
				<!-- The global file processing state -->
				<span class="fileupload-process"></span>
			    </div>
			    <!-- The global progress state -->
			    <div class="col-lg-5 fileupload-progress fade">
				<!-- The global progress bar -->
				<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
				</div>
				<!-- The extended global progress state -->
				<div class="progress-extended">&nbsp;</div>
			    </div>
			</div>
			<!-- The table listing the files available for upload/download -->
			<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
		    </form>

		    <div class="folders clearfix">
			<table class="table">
			    <thead>
			    <th><?php echo $this->translate("Nazwa pliku");?></th>
			    <th><?php echo $this->translate("Typ pliku");?></th>
			    <th><?php echo $this->translate("Utworzony");?></th>
			    <th><?php echo $this->translate("Dodany przez");?></th>
			    <th><?php echo $this->translate("Rozmiar");?></th>
			    <th></th>
			    </thead>
			    <tbody>
				<?php if ($folderId !== 0):
				    ?>
    				<tr>
    				    <td><i class="fa fa-folder" style="color:#FBD438;font-size: 22px;margin-right: 10px"></i> <a href="<?php
					    echo $this->url('manager_plikow', array('action' => 'index', 'id' => $folderNadrzednyId));
					    ?>">...</a></td>
    				    <td></td>
    				    <td></td>
    				    <td></td>
    				    <td></td>
    				    <td></td>
    				</tr>
				    <?php
				endif;
				foreach ($foldery as $folder):
				    ?>
    				<tr data-folder-id="<?php echo $folder->id; ?>">
    				    <td><i class="fa fa-folder" style="color:#FBD438;font-size: 22px;margin-right: 10px"></i> <a href="<?php
					    echo $this->url('manager_plikow', array('action' => 'index', 'id' => $folder->id));
					    ?>"><?php echo $folder->nazwa; ?></a></td>
    				    <td><?php echo $this->translate("Folder plików");?></td>
    				    <td></td>
    				    <td></td>
    				    <td></td>
    				    <td><div class="btn-group">
    					    <button type="button" class="btn btn-default btn-xs  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<?php echo $this->translate("Akcja ");?><span class="caret"></span>
    					    </button>
    					    <ul class="dropdown-menu pull-right">
    						<li><a href="#" class="folder-delete"><?php echo $this->translate("Usuń");?></a></li>
    					    </ul>
    					</div></td>
    				</tr>
				    <?php
				endforeach;
				foreach ($pliki as $plik):
				    ?>
    				<tr data-file-id="<?php echo $plik->id; ?>">
    				    <td><i class="fa fa-file" style="color:#385FFB;font-size: 22px;margin-right: 10px"></i>
    					<a href="<?php
					    echo $this->url('zasoby', array('action' => 'download', 'id' => $plik->zasob->id));
					    ?>" >
						   <?php echo $plik->zasob->nazwa; ?>
    					</a></td>
    				    <td><?php echo $plik->zasob->typ; ?></td>
    				    <td><?php echo $plik->zasob->data_dodania; ?></td>
    				    <td><?php echo $plik->wlasciciel . ''; ?></td>
    				    <td><?php echo $plik->zasob->getRozmiar(); ?></td>
    				    <td><div class="btn-group">
    					    <button type="button" class="btn btn-default btn-xs  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						Akcja <span class="caret"></span>
    					    </button>
    					    <ul class="dropdown-menu pull-right">
    						<li><a href="#" class="file-share"><?php echo $this->translate("Udostępnij");?></a></li>
    						<li><a href="#" class="file-delete"><?php echo $this->translate("Usuń");?></a></li>
    					    </ul>
    					</div></td>
    				</tr>
				<?php endforeach; ?>
			    </tbody>
			</table>
		    </div>
		</div>
	    </div>
	</div><!--/col-->
    </div><!--/row-->
</div>
<div id="add-folder-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
	    <form action="<?php
	    echo $this->url('manager_plikow', ['action' => 'index_akcje']);
	    ?>" method="POST" enctype="multipart/form-data">
		<div class="modal-header">
		    <h3 class="modal-title"><?php echo $this->translate("Dodaj nowy folder");?></h3>
		</div>

		<div class="modal-body">

		    <div class="form-group">
			<label><?php echo $this->translate("Nazwa");?></label>
			<input type="text" name="nazwa" class="form-control" placeholder="nazwa"/>
			<input type="hidden" name="folder_nadrzedny_id" value="<?php echo $folderId; ?>" >
		    </div>

		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Zamknij");?></button>
		    <button type="submit" name="submit" value="dodaj_nowy_folder" class="btn btn-primary save"><?php echo $this->translate("Zapisz");?></button>
		</div>
	    </form>
        </div>
    </div>
</div>
<div id="file-share-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><?php echo $this->translate("Udostępnij plik");?></h3>
            </div>

            <form action="<?php
	    echo $this->url('manager_plikow', ['action' => 'index_akcje']);
	    ?>" method="post">
                <input type="hidden" name="file_id" id="file-id" value="">
		<input type="hidden" name="folder_id" value="<?php echo $folderId; ?>">
                <div class="modal-body">
                    <div class="form-group">
                        <ul class="list-unstyled">
			    <?php foreach ($uzytkownicy as $uzytkownik): ?>
    			    <li>
    				<input type="checkbox" id="user-<?php echo $uzytkownik->id; ?>" name="uzytkownicy_id[]" value="<?php echo $uzytkownik->id; ?>"/>
				    <?php echo $uzytkownik . ''; ?>
    			    </li>
			    <?php endforeach; ?>
			</ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Zamknij");?></button>
                    <button type="submit" name="submit" value="udostepnij_zasob" class="btn btn-primary save"><?php echo $this->translate("Zapisz");?></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
    <td>
    <span class="preview"></span>
    </td>
    <td>
    <p class="name">{%=file.name%}</p>
    <strong class="error text-danger"></strong>
    </td>
    <td>
    <p class="size"><?php echo $this->translate("Processing...");?></p>
    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
    </td>
    <td>
    {% if (!i && !o.options.autoUpload) { %}
    <button class="btn btn-primary start" disabled>
    <i class="glyphicon glyphicon-upload"></i>
    <span><?php echo $this->translate("Start");?></span>
    </button>
    {% } %}
    {% if (!i) { %}
    <button class="btn btn-warning cancel">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span><?php echo $this->translate("Cancel");?></span>
    </button>
    {% } %}
    </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
    <td>
    <span class="preview">
    {% if (file.thumbnailUrl) { %}
    <i class="fa fa-check" style="color:#228B22;font-size: 40px;margin-right: 10px"></i>
    {% } %}
    </span>
    </td>
    <td>
    <p class="name">
    <span>{%=file.name%}</span>
    </p>
    {% if (file.error) { %}
    <div><span class="label label-danger"><?php echo $this->translate("Error");?></span></div>
    {% } %}
    </td>
    <td>
    <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </td>
    <td>
    </td>
    </tr>
    {% }
    location.reload();
    %}
</script>
<!-- end: Content -->

<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/vendor/jquery.ui.widget.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.iframe-transport.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.fileupload.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.fileupload-process.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.fileupload-image.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.fileupload-audio.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.fileupload-video.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.fileupload-validate.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.fileupload-ui.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/pages/files.js'));
