<!-- start: Content -->
<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
	<div class="col-lg-3">
	    <div class="box">
		<div class="box-header" data-original-title>
		    <h2>
			<?php echo $this->translate("Menu");?>
		    </h2>
		</div>
		<div class="box-content">
		    <ul class="list-unstyled files-menu">
			<li class="text-danger"><a href="<?php
			    echo $this->url('manager_plikow', ['action' => 'index']);
			    ?>"><i class="fa fa-home"></i> <?php echo $this->translate("Katalog główny");?></a></li>
			<li><a href="<?php
			    echo $this->url('manager_plikow', ['action' => 'udostepnione']);
			    ?>"><i class="fa fa-user"></i> <?php echo $this->translate("Udostępnione pliki dla mnie");?></a></li>
			<li><a href="<?php
			    echo $this->url('manager_plikow', ['action' => 'udostepniane']);
			    ?>"><i class="fa fa-location-arrow"></i> <?php echo $this->translate("Udostępniane pliki innym");?></a></li>
		    </ul>
		</div>
	    </div>
	</div>            <div class="col-lg-9">
	    <div class="box">
		<div class="box-header" data-original-title>
		    <h2>
			<i class="fa fa-user"></i>
			<span class="break"></span>
			<?php echo $this->translate("Files");?>
		    </h2>
		</div>
		<style>
		    .file-item-box{
			width:150px;
			float:left;
			font-size: 10px;
		    }
		    .file-item{
			border: 1px solid #e7eaec;
			padding: 0;
			background-color: #ffffff;
			position: relative;
			margin-bottom: 20px;
			margin-right: 20px;
		    }

		    .file-item .fa{
			font-size: 40px;;
			padding:15px 0px;
		    }

		</style>
		<div id="folder" class="box-content">

		    <div class="folders clearfix">

			<table class="table">
			    <thead>
			    <th><?php echo $this->translate("Nazwa pliku");?></th>
			    <th><?php echo $this->translate("Typ pliku");?></th>
			    <th><?php echo $this->translate("Utworzony");?></th>
			    <th><?php echo $this->translate("Udostępnione dla");?></th>
			    <th><?php echo $this->translate("Rozmiar");?></th>
			    </thead>
			    <tbody>

				<?php foreach ($pliki as $plik): ?>

    				<tr>
    			    <form method="POST" name="<?php echo $plik->id; ?>" enctype="multipart/form-data" >
    				<td><i class="fa fa-file" style="color:#385FFB;font-size: 22px;margin-right: 10px"></i>
    				    <a href="<?php
					echo $this->url('zasoby', array('action' => 'download', 'id' => $plik->zasob->id));
					?>" >
					       <?php echo $plik->zasob->nazwa; ?>
    				    </a></td>
    				<td><?php echo $plik->zasob->typ; ?></td>
    				<td><?php echo $plik->zasob->data_dodania; ?></td>
    				<td>
					<?php foreach ($plik->uzytkownicy as $uzytkownik): ?>
					    <p>
						<?php echo $uzytkownik . ''; ?>
						<input type="hidden" name="userId" value="<?php echo $uzytkownik->id; ?>">
						<button type="submit" name="submit" value="<?php echo $plik->id; ?>" class="btn btn-xs btn-danger">
						    <?php echo $this->translate("Usuń");?>
						</button>
					    </p>
					<?php endforeach; ?>
    				</td>
    				<td><?php echo $plik->zasob->getRozmiar(); ?></td>
    			    </form>
    			    </tr>

			    <?php endforeach; ?>

			    </tbody>
			</table>
		    </div>

		</div>
	    </div>
	</div><!--/col-->
    </div><!--/row-->
</div>
<!-- end: Content -->
