<div class="row">
    <div class=" col-lg-12">
        <h1 class="page-header"><?php echo $this->translate("Konwersacje"); ?></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="skrzynka_gora col-lg-12">
        <div class="skrzynka"><?php echo $this->translate("Skrzynka odbiorcza"); ?></div>
        <div class="skrzynka"><?php echo $this->translate("Ważne"); ?></div>
        <a href="<?php echo $this->url('konwersacje', array('action' => 'dodaj')); ?>">
            <div class="skrzynka"><?php echo $this->translate("Wyślij"); ?></div>
        </a>
        <div class="skrzynka"><?php echo $this->translate("Kosz"); ?></div>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="rozmowy col-lg-3">
        <div class="panel panel-default">

            <div class="konwersacje panel-body">
                <div class="konwersacje_caly list-group" id="konwersacje_watki">
                    <div class="nadawca szukaj_nad sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="<?php echo $this->translate("Szukaj..."); ?>">
                            <span class="input-group-btn">
                                <button class="szukaj_przycisk btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>



                </div>
                <!-- /.list-group -->

            </div>
        </div>
    </div>
    <div class="rozmowy col-lg-9">
        <div class="panel panel-default">

            <div class="konwersacje2 panel-body">
                <div class="konwersacje_caly list-group">

                    <div class="nadawca1">
                        <div class="uzytkownik tylul_maila"></div>
                        <span class="pull-left text-muted small"><em>Uczestnicy: </em><em id="wiadomosci_osoby"></em>
                        </span>
                    </div>
                    <div class="rozmowa list-group-item" id="wiadomosci_kontener">

                    </div>


                </div>
                <!-- /.list-group -->

            </div>
        </div>
        <div>

	    <?php echo $this->partial(\Wspolne\Controller\ElementyWidokuController::wyswietlWysiwyg()); ?>

            <button class="btn btn-danger" id="wiadomosci_wyslij"><?php echo $this->translate("Wyślij"); ?></button>
        </div>
    </div>

</div>

<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wiadomosci/szablon_wiadomosci.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wiadomosci/timer.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wiadomosci/dom_operation.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wiadomosci/app_wiadomosci.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wiadomosci/pobieranie_watkow.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wiadomosci/pobieranie_wiadomosci.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wiadomosci/wysylanie_wiadomosci.js'));
?>
