<div class="row">
	<div class=" col-lg-12">
		<h1 class="page-header">Utwórz wiadomość</h1>
	</div>
	<form method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-4">
				<select  name="uzytkownicy[]" class="form-control  col-lg-12">
					<?php foreach ($this->uzytkownicy as $uzytkownik): ?>
						<option value="<?php echo $uzytkownik->id; ?>" <?php $this->selected($this->wybrany_uzytkownik,$uzytkownik->id);?>><?php echo $uzytkownik->imie . ' ' . $uzytkownik->nazwisko; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
			<div class="col-lg-8">
				<input class="form-control input-lg  col-lg-12" name="temat" placeholder="Temat">
			</div>
		</div>
		<div class="row">
			<?php echo $this->partial(\Wspolne\Controller\ElementyWidokuController::wyswietlWysiwyg()); ?>
		</div>
		<input type="submit" name="submit" class="zapis_zlecen btn btn-danger" value="Wyślij">

	</form>
</div>