<div id="content" class="col-lg-10 col-sm-11">
	<div class="row">
		<div class="col-lg-12">
			<form method="post">
				<input type="text" id="zasoby" name="zasoby">
				<input type="submit">
				<?php $this->wyswietlDodawanieZasobow('#zasoby', $this); ?>
			</form>
		</div>
	</div>
</div>