<?php
use Pastmo\Wspolne\Utils\StrUtil;
?>

<div class="row">
    <div class="col-lg-12">
	<h1 class="page-header"><?php echo $this->tytul . ' ' . $this->zlecenie->nr_zlecenia; ?></h1>

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method="POST"  enctype="multipart/form-data" action="<?php echo $this->url('zlecenia',['action'=>'dodaj']);?>">
    <input name="id" type="hidden" value="<?php echo $this->zlecenie->id; ?>">
    <div class="row">
        <div class="col-md-7">
            <div class="form-group ">
                <label>Nazwa</label>
                <input name="nazwa" class="form-control col-md-11 col-xs-12 bez_flo" value="<?php echo $this->zlecenie->nazwa; ?>">
            </div>
            <div class="form-group">
                <label>Opis</label>
                <textarea name="opis" class="form-control col-md-11 col-xs-12 bez_flo duzy_box" rows="30"><?php echo $this->zlecenie->opis; ?></textarea>
            </div>
	</div>
        <div class="col-md-5 col-sm-12">
            <div class="form-group col-md-11 col-sm-4  ">
                <label>Nazwa klienta</label>
                <select name="klient_id" class="form-control col-md-11 ">
                    <option value=""></option>
                    <?php foreach ($this->klienci as $element): ?>
                    <option value="<?php echo $element->id; ?>" <?php $this->selected($this->zlecenie->klient->id,$element->id);?>><?php echo $element->nazwa; ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="form-group col-md-11 col-sm-4  ">
                <label>Data rozpoczęcia</label>
                <input type="date" name="data_rozpoczecia" value="<?php echo StrUtil::drukujSamaDate($this->zlecenie->data_rozpoczecia); ?>" class="form-control col-lg-8 bez_flo">
            </div>
            <div class="form-group col-md-11 col-sm-4  ">
                <label>Data zakończenia</label>
                <input type="date" name="data_zakonczenia" value="<?php echo StrUtil::drukujSamaDate($this->zlecenie->data_zakonczenia); ?>" class="form-control col-lg-8 bez_flo">
            </div>
	</div>

	<div class="col-xs-12">
            <div class="form-group">
                <label>Załącznik</label>
                <input id="pliki" name="pliki" type="hidden">
                <?php $this->wyswietlDodawanieZasobow('#pliki', $this); ?>

            </div>
	</div>
    </div>
    <input type="submit" name="submit" class="zapis_zlecen btn btn-danger" value="Zapisz">
</form>


<?php
echo $this->inlineScript()
	->prependFile($this->basePath('js/dodawanie_zlecenia.js'));

\Application\Controller\LadowaczSkryptow::add($this->basePath('js\zlecenia\usun_zlecenie.js'));
