<?php
use Pastmo\Wspolne\Utils\StrUtil;
?>

<div class="row">

    <div class="col-lg-12">
	<h1 class="page-header"><?php echo $this->czy_otwarte ? 'Zlecenia aktywne' : 'Zlecenia zamknięte'; ?></h1>
    </div>
    <!--/.col-lg-12 -->
</div>
<!--/.row -->

<div class = "row">

    <div class = "col-lg-12">
	<div class = " sidebar-search" id="wyszukiwanie"
	     data-adres="<?php
	     echo $this->url('zlecenia', array('action' => $this->akcja, 'format' => 'json'));
	     ?>"
	     data-szczegoly_zlecenia="<?php
	     echo $this->url('zlecenia', array('action' => 'szczegoly'));
	     ?>"
	     data-szczegoly_klienta="<?php
	     echo $this->url('klienci', array('action' => 'szczegoly'));
	     ?>"

	     >
	    <div class = "input-group custom-search-form hidden">
		<input type = "text" id="tekst_wyszukiwania" class = "form-control" placeholder = "Szukaj...">
		<span class = "input-group-btn">
		    <button class = "szukaj_przycisk btn btn-default" type = "button">
			<i class = "fa fa-search"></i>
		    </button>
		</span>
	    </div>
	    <!--/input-group -->
	</div>
	<div class = "panel panel-default">
	    <div class = "panel-heading">
	    </div>
	    <div class = "panel-body">
		<div class = "table-responsive">
		    <table class = "table table-hover">
			<thead>
			    <tr>
				<th>Nr zlecenia</th>
				<th>Nazwa</th>
				<th>Klient</th>
				<th>Data rozpoczęcia</th>
				<th>Data zakończenia</th>
				<th></th>
			    </tr>
			</thead>
			<tbody id="tabela_zlecen">
			    <?php foreach ($zlecenia as $zlecenie): ?>
    			    <tr>
    				<td><?php echo $zlecenie->nr_zlecenia; ?></td>
    				<td><a href="<?php
					echo $this->url("zlecenia", array("action" => 'szczegoly', "id" => $zlecenie->id));
					?>"><?php echo $zlecenie->nazwa; ?></a>
    				</td>
    				<td <?php $zlecenie->klient; ?>><a href="<?php
					echo $this->url("klienci", array("action" => "szczegoly", "id" => $zlecenie->klient->id));
					?>"><?php echo $zlecenie->klient->nazwa; ?></a>
    				</td>

    				<td><?php echo StrUtil::drukujSamaDate($zlecenie->data_rozpoczecia); ?></td>
    				<td><?php echo StrUtil::drukujSamaDate($zlecenie->data_zakonczenia); ?></td>
    				<td>
    				    <a href="<?php echo $this->url('zlecenia', ['action' => 'edytuj', 'id' => $zlecenie->id]); ?>" class="btn btn-danger">Edytuj</a>
					<?php if ($this->czy_otwarte): ?>
					    <a href="#" data-url="<?php echo $this->url('zlecenia', ['action' => 'zakoncz', 'id' => $zlecenie->id]); ?>" class="btn btn-danger przycisk_z_potwierdzeniem">Zakończ</a>
					<?php endif; ?>
    				</td>

    			    </tr>
			    <?php endforeach; ?>
			</tbody>
		    </table>
		</div>
		<!-- /.table-responsive -->
	    </div>
	</div>
    </div>
</div>

<?php
$this->inlineScript()
	->prependFile($this->basePath('js/ajax_wyszukiwanie/ajax_wyszukiwanie_zlecenia.js'));
