<?php

use Pastmo\Wspolne\Utils\StrUtil;
?>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Szczegółowe informacje o zleceniu</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-7">
            <div class="panel panel-default">

                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users domeny col-xs-12">
                                    <div class="tytul_domeny"><?php echo $zlecenie->nazwa; ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">

                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users domeny col-xs-12">

                                    <div class="tytul_domeny">Opis</div>
                                    <div class="tekst_norm"><?php echo $zlecenie->opis; ?></div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
        <div class="col-lg-5">


            <div class="panel panel-default">
                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="tytul_domeny">Informacje</div>
                                <div class="flol marg_right "  <?php $zlecenie->klient; ?>>Klient: </div>
                                <div class="tekst_norm " <?php $zlecenie->klient; ?> ><?php echo $zlecenie->klient->nazwa; ?></div>
			    </div>
			    <div class="row">
				<div class="flol marg_right">Data rozpoczęcia:</div>
                                <div class="tekst_norm"><?php echo StrUtil::drukujSamaDate($zlecenie->data_rozpoczecia); ?></div>
			    </div>
			    <div class="row">
				<div class="flol marg_right">Data zakończenia:</div>
                                <div class="tekst_norm"><?php echo StrUtil::drukujSamaDate($zlecenie->data_zakonczenia); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users col-xs-12">

                                    <div ><div class="tytul_domeny">Załączniki</div>
                                        <div class="dodaj_zalacznik hidden">
                                            <form method="POST" enctype="multipart/form-data">
                                                <div><input id="pliki" name="pliki" type="hidden">
						    <?php $this->wyswietlDodawanieZasobow('#pliki', $this); ?></div>
                                                <div><input type="submit" name="submit" class="zapis_zalacznik btn btn-danger" value="Zapisz załącznik"></div>
                                            </form>
                                        </div>
					<?php
					$zasoby = $this->zlecenie->getZalaczniki();
					foreach ($zasoby as $zasob):
					    ?>
    					<div class="col-md-4">
    					    <a href="<?php echo $this->url('zasoby', ['action' => 'download', 'id' => $zasob->id]); ?>">
    						<img src="<?php echo $this->basePath($zasob->wyswietl()); ?>" class="miniaturka">
    					    </a>
    					</div>
					    <?php
					endforeach;
					?>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- /.col-lg-12 -->
    </div>