<?php

use Wspolne\Utils\StrUtil;
?>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pulpit</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row margin-left-none" id="baner_container">
    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
        <div class="col-lg-8 col-sm-12" >
    	<div class="panel panel-default baner">
    	    <div class="panel-heading">Ilość zleceń</div>
    	    <div class="row margin-left-none">
    		<div class="col-md-12">
    		    <div class="panel panel-primary">
    			<div class="liczba_zlecen panel-heading">
    			    <div class="row margin-left-none">
    				<div class="col-md-3 col-sm-4 col-xs-6 text-right">
    				    <div class="liczba_zlecen_napis">Tydzień</div>
    				    <div class="huge"><?php echo $this->liczbaZlecenTydzien;?></div>
    				</div>
    				<div class="col-md-3 col-sm-4 col-xs-6 text-right">
    				    <div class="liczba_zlecen_napis">Miesiąc</div>
    				    <div class="huge"><?php echo $this->liczbaZlecenMiesiac;?></div>
    				</div>
    				<div class="col-md-3 col-sm-4 col-xs-6 text-right">
    				    <div class="liczba_zlecen_napis">Rok</div>
    				    <div class="huge"><?php echo $this->liczbaZlecenRok;?></div>
    				</div>
    				<div class="col-md-3 col-sm-12 col-xs-6 text-right">
    				    <div class="liczba_zlecen_napis">Wszystkie</div>
    				    <div class="huge"><?php echo $this->liczbaZlecen;?></div>
    				</div>
    			    </div>
    			</div>
    		    </div>
    		</div>
    	    </div>
    	</div>
	<?php endif; ?>
    </div>

    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
        <div class="col-lg-4 col-sm-12">
    	<div class="panel panel-default baner">
    	    <div class="panel-heading"><h1 class="huge">Witamy w systemie CRM</h1></div>
    	</div>
	<?php endif; ?>
    </div>
</div>
<!-- /.row -->
<div class="row margin-left-none">
    <div class="box2 col-lg-12">
	<?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
    	<div class="col-lg-6">
    	    <div class="panel panel-default">
    		<div class="panel-heading">
    		    <i class="fa fa-envelope fa-fw"></i> Wiadomości
    		</div>
    		<!-- /.panel-heading -->
    		<div class="panel-body">
    		    <div class="list-group">
			    <?php foreach ($this->emaile as $email): ?>
				<a href="<?php echo $this->url('email'); ?>" class="list-group-item">
				    <div class="col-md-8 element_maila">
					<i class="fa fa-envelope fa-fw"></i>
					<?php echo $email->nadawca; ?>
				    </div>
				    <span class="pull-right text-muted small">
					<em><?php echo $email->pobierzDate(); ?></em>
				    </span>

				    <div class="col-md-8 element_maila">
					<?php echo $email->tytul;  ?>
				    </div>


				</a>
			    <?php endforeach; ?>
    		    </div>
    		    <!-- /.list-group -->

    		</div>
    		<!-- /.panel-body -->
    	    </div>
    	</div>
	<?php endif; ?>
	<?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
    	<div class=" col-lg-6">
    	    <div class="panel panel-default">

    		<div class="panel-heading">
    		    Kończące się zlecenia
    		</div>
    		<div class="row margin-left-none">
    		    <div class="panel panel-primary ">
    			<div class="panel-heading ">
    			    <div class="zlecenia panel-body">
    				<div class="list-group">
				    <?php foreach ($this->konczaceSieZlecenia as $zlecenie): ?>
    				    <a href="#" class="zlecenie_nazwa list-group-item">
    					<?php echo $zlecenie->nazwa;?>
    				    </a>
				    <?php endforeach; ?>


    				</div>
    				<!-- /.list-group -->

    			    </div>
    			</div>
    		    </div>
    		</div>
    	    </div>

    	</div>
	<?php endif; ?>

    </div>
</div>
<!-- /.panel .chat-panel -->

<?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
    <?php echo $this->partial('kalendarz/kalendarz/index', ['zlecenia' => $this->zlecenia]); ?>
<?php endif; ?>

<?php echo $this->inlineScript()->prependFile($this->basePath('js/morris-data.js')); ?>

<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/cremini/responsive_equal_height_rows.js'));

\Application\Controller\LadowaczSkryptow::add($this->basePath('js/moment.min.js'));
//\Application\Controller\LadowaczSkryptow::add($this->basePath('js/jquery.min.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/fullcalendar.min.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/lang-all.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/kalendarz/calendar.js'));
?>