<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2>
                        <i class="fa fa-user"></i>
                        <span class="break"></span>
                        <?php echo $this->translate("Wynik wyszukiwania");?></h2>
                </div>
                <div class="box-content">


                    <table id="companies-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Tytuł");?></th>
                                <th><?php echo $this->translate("Typ");?></th>
                                <th><?php echo $this->translate("Link");?></th>
			    </tr>
                        </thead>
                        <tbody>
			    <?php foreach ($this->wynik_wyszukiwania as $wynik): ?>
    			    <tr>
    				<td>
					<?php echo $wynik->value ?>
    				</td>
    				<td>
					<?php echo $wynik->type ?>
    				</td>
    				<td>
    				    <a class="btn btn-danger btn-xs"
    				       href="<?php echo $wynik->url; ?>">
    					<?php echo $this->translate("szczegóły");?>
    				    </a>
    				</td>
    			    </tr>
			    <?php endforeach; ?>

			</tbody>
                    </table>


                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>
