<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header"><?php echo $this->tytul . ' ' . $this->klient->nazwa; ?></h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method="POST" enctype="multipart/form-data">
	<div class="row">
		<input type="hidden" name="id" value="<?php echo $this->klient->id; ?>">
		<input type="hidden" name="uzytkownik_id" value="<?php echo $this->klient->uzytkownik->id; ?>">
		<input type="hidden" name="adres_id" value="<?php echo $this->klient->adres->id; ?>">
		<div class="form-group ">
			<label>Nazwa</label>
			<input name="nazwa" required="true"  class="form-control col-lg-8 bez_flo"  value="<?php echo $this->klient->nazwa; ?>">
		</div>

		<input name="status" type="hidden" value="<?php echo \Klienci\Enumy\KlienciStatusy::NOWY; ?>">
		<input name="imie" type="hidden" value="">
		<input name="nazwisko" type="hidden" value="">
		<div class="form-group ">
			<label>Ulica i numer domu</label>
			<input name="ulica" class="form-control col-lg-8 bez_flo"  value="<?php echo $this->klient->adres->ulica; ?>">
		</div>
		<div class="form-group ">
			<label>Kod pocztowy</label>
			<input name="kod" class="form-control col-lg-8 bez_flo"  value="<?php echo $this->klient->adres->kod; ?>">
		</div>
		<div class="form-group ">
			<label>Miejscowość</label>
			<input name="miasto" class="form-control col-lg-8 bez_flo"  value="<?php echo $this->klient->adres->miasto; ?>">
		</div>
		<div class="form-group ">
			<label>NIP</label>
			<input name="nip" class="form-control col-lg-8 bez_flo" value="<?php echo $this->klient->nip; ?>">
		</div>
		<div class="form-group ">
			<label>E-mail</label>
			<input name="email" class="form-control col-lg-8 bez_flo"  value="<?php echo $this->klient->adres->email; ?>">
		</div>
		<div class="form-group ">
			<label>Telefon</label>
			<input name="telefon" class="form-control col-lg-8 bez_flo" value="<?php echo $this->klient->adres->telefon; ?>">
		</div>
		<div class="form-group">
				<label>Notatka</label>
				<textarea name="notatka" class="form-control col-lg-8 bez_flo duzy_box" ><?php echo $this->klient->notatka; ?></textarea>
		</div>



		<div class="hidden">
			<div class="form-group">
				<label>Dane do faktury</label>

			</div>

			<div class="form-group ">
				<label>Nazwa</label>
				<input name="nazwa_na_fakturze" class="form-control col-lg-8 bez_flo">
			</div>
			<div class="form-group ">
				<label>Ulica</label>
				<input name="faktura_ulica" class="form-control col-lg-8 bez_flo">
			</div>
			<div class="form-group ">
				<label>Kod pocztowy</label>
				<input name="faktura_kod" class="form-control col-lg-8 bez_flo">
			</div>
			<div class="form-group ">
				<label>Miejscowość</label>
				<input name="faktura_miasto" class="form-control col-lg-8 bez_flo">
			</div>


			<div class=" form-group bez_flo">
                <div class="nowe_pole">    <label>Dodaj pole</label>
                    <label class="checkbox-inline prio_czek">
                        <input name="czy_nowe_pole" type="checkbox">
                    </label>
				</div>
				<div>
					<input name="dodatkowe_nazwa1" placeholder="nazwa" class="form-control col-lg-3 ">
					<input name="dodatkowe_pole1" placeholder="wartość" class="form-control col-lg-3 ">
                </div>
				<div class="clearfix"></div>
			</div>
			<div class="form-group">
				<label>Dodaj Avatar</label>
				<input name="image-file" type="file">
			</div>
		</div>


		<input type="submit" name="submit" class="zapis_zlecen btn btn-danger" value="Zapisz">
	</div>
</form>

