<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Klienci</h1>

	<div clas='pull-right'>
            <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
                <a href="<?php echo $this->url('klienci', array('action' => 'dodaj')); ?>" class="btn btn-danger dodaj_dj">Dodaj klienta</a>
            <?php endif; ?>
        </div>
    </div>

    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->



<div class="row">

    <div class="col-lg-12">

        <div class="panel tabela_dj panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover zawijane_wiersze">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th>Nazwa</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody  id="body_tabeli">
                            <?php
                            $i = 0;
                            foreach ($klienci as $klient):
                                $i++;
                                ?>
                                <tr class="wiersz_naglowek">
				    <td colspan="7">
                                    <div class="col-lg-1 col-md-4 col-sm-6"><?php echo $i; ?></div>

                                    <div class="col-lg-8 col-md-4 col-sm-6">
                                        <span><?php wyswietlKlienta($klient->nazwa, $klient->id, $this); ?></span>

                                    </div>


				     <div class="col-lg-2 col-md-4 col-sm-6">
                                            <a href="<?php echo $this->url('faktury', array('action' => 'wystaw', 'id' => $klient->id)); ?>" class="btn btn-danger">
                                                Wystaw fakturę
                                            </a>

                                    </div>
				    <div class="col-lg-1 col-md-4 col-sm-6">
                                        <a role="button" class="przycisk-rozwijania">
					    <span><?php echo $this->translate("Rozwiń");?></span>
					    <span style="display:none"><?php echo $this->translate("Zwiń");?></span>
                                            <i class="fa fa-angle-down "></i>
                                        </a>
                                    </div>
                                    </td>
                                </tr>
                                <tr class="niewidzialny">
                                    <td colspan="7">

                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="klient_adres">
                                                <i>Adres</i>
                                                <div>
                                                    <div><?php echo $klient->adres->ulica; ?></div>
                                                    <div><?php echo $klient->adres->kod . ' ' . $klient->adres->miasto; ?></div>
                                                    <div><?php echo $klient->adres->kraj; ?></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">

                                            <div class="klient_adres">
                                                <i>Adres e-mail</i>
                                                <div>
                                                    <div><span><?php echo $klient->adres->email; ?></span></div>
                                                </div>
                                            </div>

                                            <div class="klient_faktura">
                                                <i>Nr telefonu</i>
                                                <div>
                                                    <div><span><?php echo $klient->adres->telefon; ?></span></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                            <div class="klient_faktura">
                                                <i>Nip</i>
                                                <div>
                                                    <div><span><?php echo $klient->nip; ?></span></div>
                                                </div>
                                            </div>

                                        </div>


					<div class="col-lg-4 col-md-4 col-sm-6">
					    <i>Notatka</i>
					    <textarea class="notatka_klienta form-control col-lg-12" rows="4" data-url="<?php echo $this->url('klienci_ajax',['action'=>'zapisz_notatke','id'=>$klient->id]);?>"
						      ><?php echo $klient->notatka; ?></textarea>
					</div>

                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>

<?php

function wyswietlKlienta($tresc, $id, $view) {
    if ($view->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)) {
        ?>
        <a href="<?php
        echo $view->url('klienci', array('action' => 'edytuj', 'id' => $id));
        ?>">
               <?php echo $tresc; ?>
        </a>
        <?php
    } else {
        echo $tresc;
    }
}

\Application\Controller\LadowaczSkryptow::add($this->basePath('js/wyszukiwanie/ajax_wyszukiwanie.js'));
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/strony/klienci.js'));
