
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Dane sklepów</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->



<div class="row">
	<div class="col-lg-12">
		<div class=" sidebar-search">
			<form id="wyszukiwarka" method="GET">
				<div id="teksty_podpowiedzi">["Testowy ziom","WROPAK HALINA M\u0141Y\u0143SKA","TOP Grupa Polska sp. z o.o.","Kolporter Sp\u00f3\u0142ka z ograniczon\u0105 odpowiedzialno\u015bci\u0105 sp. k.","MERITUM Sp. z o.o.","Rigaku Polska Sp. z o.o.","ISKRA Us\u0142ugi Elektryczne Rafa\u0142 \u015alepecki","Vistula group","Euro - net Sp. z o.o. "]</div>
				<div class="input-group custom-search-form">
					<span class="twitter-typeahead" style="position: relative; display: inline-block;"><input type="text" class="typeahead twitter-typeahead header-search form-control  col-lg-12 tt-hint" value="" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" dir="ltr" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"><input type="text" class="typeahead twitter-typeahead header-search form-control  col-lg-12 tt-input" id="input_wyszukiwarki" name="wyszukaj" placeholder="Szukaj..." value="" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-states"></div></div></span>
					<input type="hidden" name="sort_klucz" id="sort_key" value="">
					<input type="hidden" name="sort_typ" id="sort_typ" value="">
					<span class="input-group-btn">
						<button class="szukaj_przycisk btn btn-default" click="submit();" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
		</div>
		<div id="plusy_rozwijanie"></div>
					<a href="<?php echo $this->url('klienci',array('action'=>'nowe_dodaj'));?>" class="btn btn-danger dodaj_dj">Dodaj sklep</a>

		<div class="panel tabela_dj panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Lp</th>
								<th>Nazwa firmy</th>
								<th>Telefon</th>
                                                                <th>Zakres działalności</th>
                                                                <th>Adres</th>
                                                                <th>Godziny otwarcia</th>
                                                                <th>Adres e-mail</th>

							</tr>
						</thead>
						<tbody>
															<tr class="wiersz_naglowkowy">
									<td>1</td>
									<td>
												<a href="<?php echo $this->url('Sklepy',array('action'=>'nowe_szczegoly'));?>">
			   Testowy ziomal		</a>

									</td>
									<td>
												<a href="<?php echo $this->url('Sklepy',array('action'=>'nowe_szczegoly'));?>">
			   zio		</a>
											</td>


								</tr>


						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
		</div>
	</div>
</div>

