<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Szczegółowe informacje o kliencie</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-7">
			<div class="panel panel-default">

                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users col-xs-12 text-right">

                                    <div class="huge3">
										<span class="klientsz_avatar chat-img pull-left">
											<img src="<?php echo $this->basePath($klient->uzytkownik->avatar->wyswietl()); ?>" alt="User Avatar" class="img-circle" />
										</span>
										<div class="uzytkownik nazwa_user_sz"><?php echo $klient->uzytkownik->imie . ' ' . $klient->uzytkownik->nazwisko; ?></div>
										<div class="uzytkownik status_user_sz">Status: <?php echo $klient->status; ?></div>
										<div class="uzytkownik user_sz"><i class="fa dodaj fa-phone fa-fw"></i>Telefon: <?php echo $klient->uzytkownik->telefon; ?></div>
										<div class="uzytkownik user_sz">
											e-mail: <?php echo $klient->uzytkownik->mail; ?>

										</div>
										<div class="uzytkownik user_sz_podkreslony"><i class="fa dodaj fa-globe fa-fw"></i>www: <?php echo $klient->www; ?></div>
										<div class="uzytkownik user_sz_podkreslony"><i class="fa dodaj fa-home fa-fw"></i>Adres:
											<div class="ulica"><?php echo $klient->adres->ulica; ?></div>
											<div class="kod"><?php echo $klient->adres->kod; ?></div>
											<div class="miasto"><?php echo $klient->adres->miasto; ?></div>
											<div class="kraj"><?php echo $klient->adres->kraj; ?></div>


										</div>
										<div class="uzytkownik user_sz"><i class="fa dodaj fa-file-text fa-fw"></i>Dane do faktury:
											<div class="ulica"><?php echo $klient->adres_faktury->ulica; ?></div>
											<div class="kod"><?php echo $klient->adres_faktury->kod; ?></div>
											<div class="miasto"><?php echo $klient->adres_faktury->miasto; ?></div>
											<div class="kraj"><?php echo $klient->adres_faktury->kraj; ?></div>
										</div>


									</div>

								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">

                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
								<div class="form-group">
									<label class="tytul_domeny">Notatki</label>
									<textarea name="opis_krotki" class="form-control col-lg-8 bez_flo " rows="30"></textarea>
								</div>
								<button type="button" class="btn zapis_domena btn-danger">Zapisz</button>
								<?php
								$notatki = $klient->getNotatki();
								foreach ($notatki as $notatka):
									?>
									<div class=" users col-xs-12">

										<div class="tekst_norm">Notatka z dnia <?php echo $notatka->data_dodania; ?></div>
										<div class="tekst_norm"><?php echo $notatka->tekst; ?></div>

									</div>
								<?php endforeach; ?>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users col-xs-12">

									<div >Załączniki:
										<div class="dodaj_zalacznik">
											<form method="POST" enctype="multipart/form-data">
												<div><input name="image-file" type="file"></div>

												<div><input type="submit" name="submit" class="zapis_zalacznik btn btn-danger" value="Zapisz"></div>
											</form>
										</div>

										<div>Załączniki
										<div>
											<?php
											$zasoby = $klient->getZasoby();
											foreach ($zasoby as $zasob):
												?>
												<div class="zasob">
													<a href="<?php echo $this->basePath($zasob->wyswietlLinkDoPobrania()); ?>">
														<img src="<?php echo $this->basePath($zasob->wyswietl()); ?>">
													</a>
												</div>
											<?php endforeach; ?>
										</div>
										</div>



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">

			<div class="panel panel-default">
				<div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users col-xs-12">

									<div class="obsluzeni_klienci">Projekty:
										<?php foreach ($klient->getZlecenia() as $zlecenie): ?>
											<div class="obsluzeni_klienci_lista">
												<a href="<?php echo $this->url('zlecenia', array('action' => 'szczegoly', 'id' => $zlecenie->id)); ?>">
													<?php echo $zlecenie->nazwa; ?>
												</a>
											</div>
										<?php endforeach; ?>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-5">

			<div class="panel panel-default">
				<div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users col-xs-12">

									<div class="obsluzeni_klienci">

										<?php foreach ($klient->getDodatkowePola() as $pole): ?>
										<?php echo $pole->nazwa;?>
											<div class="obsluzeni_klienci_lista">
												<?php echo $pole->wartosc;?>
											</div>
										<?php endforeach; ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
			</div>
		</div>