
<div class="panel-heading">
    <div class="row">
	<div class="col-xs-6">
	    <a href="#"
	    <?php if ($typ === 'logowanie'): ?>
    	       class="active przelaczenie_logowanie_link"
	       <?php else: ?>
    	       class="przelaczenie_logowanie_link"
	       <?php endif; ?>
	       id="login-form-link"><?php echo $this->translate("Logowanie"); ?></a>
	</div>
	<div class="col-xs-6">
	    <a href="#"
	    <?php if ($typ === 'rejestracja'): ?>
    	       class="active przelaczenie_logowanie_link"
	       <?php else: ?>
    	       class="przelaczenie_logowanie_link"
	       <?php endif; ?>
	       id="register-form-link"><?php echo $this->translate("Rejestracja"); ?></a>
	</div>
    </div>
    <hr>
</div>

<div class="col-md-12">
    <?php echo \Wspolne\Controller\ElementyWidokuController::wyswietlWiadomosc(); ?>
    <!-- Login starts -->


</div>
<div class="panel-body">
    <div class="row">
	<div class="col-lg-12">
	    <?php
	    echo $this->partial('logowanie/logowanie/logowanie.phtml',
		    array('login_form' => $login_form, 'typ' => $typ));

	    echo $this->partial('logowanie/logowanie/rejestracja.phtml',
		    array('rejestracja_form' => $rejestracja_form, 'typ' => $typ,'wynik_przetwarzania' => $wynik_przetwarzania));

	    echo $this->partial('logowanie/logowanie/reset_hasla_formularz.phtml', ['ukryty' => true]);
	    ?>
	</div>
    </div>
</div>
