<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="fa fa-user"></i><span class="break"></span><?php echo $this->translate("Użytkownicy");?></h2>
                </div>
                <div class="box-content">
                    <form  method="get">
                        <div class="input-group" style="margin: 30px 0px">
                            <input type="text" name="wyszukaj" value="" class="form-control" placeholder="<?php echo $this->translate("Wyszukaj użytkownika");?>">
			    <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" style="padding:7px 12px"><?php echo $this->translate("Szukaj");?></button>
			    </span>
                        </div>
                    </form>

                    <table id="users-table" class="table table-striped bootstrap-datatable datatable users-list">
                        <thead>
			    <tr>
				<th><?php echo $this->translate("Id");?></th>
				<th><?php echo $this->translate("Nazwa użytkownika");?></th>
				<th><?php echo $this->translate("Email");?></th>
				<th><?php echo $this->translate("Firmy");?></th>
				<th><?php echo $this->translate("Rola");?></th>
				<th><?php echo $this->translate("Status");?></th>
				<th></th>
			    </tr>
                        </thead>
                        <tbody>
			    <?php foreach ($this->uzytkownicy as $uzytkownik): ?>
			    <tr>
				<td>
					<?php echo $uzytkownik->id; ?>
				</td>
				<td>
				    <a href="<?php echo $this->url('logowanie', array('action' => 'profil', 'id' => $uzytkownik->id)); ?>">
					<img class="img-thumbnail"
					     style="max-width:50px;margin-right:5px"
					     src="<?php echo $this->basePath($uzytkownik->avatar->wyswietl()); ?>"/>

					    <?php echo $uzytkownik; ?>
				    </a>
				</td>
				<td>
					<?php echo $uzytkownik->mail; ?>                               </td>
				<td>
					<?php foreach ($uzytkownik->getFirmy() as $firma): ?>
				    <p>
					<a href="<?php echo $this->url('firmy', array('action' => 'szczegoly', 'id' => $firma->id)); ?>">
						    <?php echo $firma; ?>
					</a>
				    </p>
					<?php endforeach; ?>
				</td>
				<td>
				    <span class="role"><?php echo $uzytkownik->rola; ?></span>
				</td>
				<td>
				    <span class="text-success"><?php echo $uzytkownik->czy_aktywny ? $this->translate("Aktywny") : $this->translate("Nieaktywny"); ?></span>
				</td>
				<td>
				    <a class="btn btn-primary btn-xs" href="<?php
					echo $this->url('logowanie', array('action' => 'profil', 'id' => $uzytkownik->id));
					?>"><?php echo $this->translate("Pokaż");?></a>
				</td>
			    </tr>
			    <?php endforeach; ?>

                    </table>
                    <ul class="pagination" style="display:none">
			<li class="disabled"><span>&laquo;</span></li><li class="active"><span>1</span></li><li><a href="http://ggerp.pl/users?page=2">2</a></li><li><a href="http://ggerp.pl/users?page=3">3</a></li><li><a href="http://ggerp.pl/users?page=4">4</a></li><li><a href="http://ggerp.pl/users?page=5">5</a></li><li><a href="http://ggerp.pl/users?page=6">6</a></li><li><a href="http://ggerp.pl/users?page=7">7</a></li><li><a href="http://ggerp.pl/users?page=8">8</a></li><li class="disabled"><span>...</span></li><li><a href="http://ggerp.pl/users?page=39">39</a></li><li><a href="http://ggerp.pl/users?page=40">40</a></li><li><a href="http://ggerp.pl/users?page=2">&raquo;</a></li>
		    </ul>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>