 <?php
 // module/Logowanie/view/logowanie/logowanie/index.phtml:

 $title = 'Użytkownicy';
$this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>


 <table class="table">
 <tr>
     <th>Imie</th>
     <th>Nazwisko</th>
	 <th>Login</th>
	 <th>Mail</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($uzytkownicy as $uzytkowik) : ?>
	 <tr>
     <td><?php echo $this->escapeHtml($uzytkowik->imie);?></td>
     <td><?php echo $this->escapeHtml($uzytkowik->nazwisko);?></td>
	 <td><?php echo $this->escapeHtml($uzytkowik->login);?></td>
	 <td><?php echo $this->escapeHtml($uzytkowik->mail);?></td>
     <td>
		         <a href="<?php echo $this->url('logowanie', array('action'=>'edit', 'id' => $uzytkowik->id));?>">Edit</a>
		         <a href="<?php echo $this->url('logowanie', array('action'=>'delete', 'id' => $uzytkowik->id));?>">Delete</a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>