<?php
$aktywny = $typ === 'logowanie';

if (!$aktywny) {
    $login_form->setAttribute('style', 'display: none;');
}

$login_form->setAttribute('action', $this->url('logowanie', array('action' => 'logowanie')))
	->prepare();

$uzytkownik = $login_form->get('uzytkownik');

//$this->headScript()->prependFile($this->basePath('js/cremini/logowanie.js'));
?>

<?php echo $this->form()->openTag($login_form); ?>
<!-- Form Group -->
<div class="form-group">
    <!-- Input -->

    <?php echo $this->formRow($uzytkownik->get('login')); ?>
</div>
<div class="form-group">

    <?php echo $this->formRow($uzytkownik->get('haslo')); ?>
</div>

<div class="form-group">
    <div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	    <!-- Button -->
	    <?php echo $this->formElement($login_form->get('submit')); ?>

	</div>
    </div>
</div>
<div class="form-group">
    <div class="row">
	<div class="col-lg-12">
	    <div class="text-center">
		<a  href="#" id="reset_hasla-link" tabindex="5" class="forgot-password przelaczenie_logowanie_link"><?php echo $this->translate('Nie pamiętam hasła');?></a>
	    </div>
	</div>
    </div>
</div>


<?php echo $this->form()->closeTag(); ?>
