

<div class="col-md-12">
    <?php echo \Wspolne\Controller\ElementyWidokuController::wyswietlWiadomosc(); ?>
</div>
<div class="panel-heading">
    <div class="row">
	<label class="naglowek_logowanie"><?php echo $this->translate("Rejestracja udana"); ?></label>
    </div>
    <hr>
</div>


<div class="panel-body">
    <div class="form-group">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-2">
		<label for="name"><?php echo $this->translate("Na podany adres email został wysłany link aktywacyjny"); ?></label>
	    </div></div>
    </div>

    <div class="form-group">
	<div class="row">
	    <div class="col-sm-6 col-sm-offset-3">
		<a href="<?php echo $this->url('home'); ?>" class="btn btn-yellow form-control ">
		    <?php echo $this->translate("Ok"); ?>
		</a>
	    </div>
	</div>
    </div>

</div>