<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Profil użytkownika</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-7">
			<div class="panel panel-default">

                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
							<div class="row">

									<span class="klientsz_avatar chat-img pull-left">
									<img class="img-circle"   src="<?php echo $this->basePath($this->uzytkownik->avatar->wyswietl()); ?>">
									</span>

								<div class="col-lg-6">
									<div class="box">
										<div class="box-content clearfix">
											<input type="hidden" name="id" value="<?php echo $this->uzytkownik->id; ?>">
											<fieldset class="col-sm-12">

												<div class="form-group">
													<label class="control-label">Imię:</label> <span><?php echo $this->uzytkownik->imie; ?></span>
													<small class="text-danger"></small>
												</div>
												<div class="form-group">
													<label class="control-label">Nazwisko:</label> <span><?php echo $this->uzytkownik->nazwisko; ?></span>
													<small class="text-danger"></small>
												</div>

												<div class="form-group">
													<label class="control-label">Email:</label> <span><?php echo $this->uzytkownik->mail; ?></span>
													<small class="text-danger"></small>
												</div>


												<div class="form-group">
													<label class="control-label">Numer telefonu:</label> <span><?php echo $this->uzytkownik->telefon; ?></span>
												</div>


												<div class="form-group">
													<label class="control-label">Rola użytownika:</label> <span><?php echo $this->uzytkownik->rola->nazwa; ?></span>

												</div>



											</fieldset>
										</div>
									</div>
								</div><!--/col-->

							</div>
						</div>
					</div></div></div></div></div></div>

<?php
$this->inlineScript()
		->prependFile($this->basePath('js/uploadowanie_plikow/dropzone_custom.js'))
		->prependFile($this->basePath('js/uploadowanie_plikow/dropzone.js'))
;
?>