<?php
$aktywny = $typ === 'rejestracja';

if (!$aktywny) {
$rejestracja_form->setAttribute('style', 'display: none;');
}

$rejestracja_form
->setAttribute('action', $this->url('logowanie', array('action' => 'rejestracja')))
->prepare();

$uzytkownik = $rejestracja_form->get('uzytkownik');

$czySukces=\Pastmo\Wspolne\Utils\EntityUtil::wydobadzPole($wynik_przetwarzania, 'isSuccess');

if($czySukces===false):
?>
<div class="alert alert-danger"><?php echo $wynik_przetwarzania->message;?></div>
<?php endif;
echo $this->form()->openTag($rejestracja_form);
?>



<div class="form-group">
<?php echo $this->formRow($uzytkownik->get('mail')->setAttribute('type', 'email')); ?>
</div>
<div class="form-group">
<?php echo $this->formRow($uzytkownik->get('haslo')); ?>
</div>
<div class="form-group">
<?php echo $this->formRow($uzytkownik->get('haslo2')); ?>
</div>
<div class="form-group">
    <div class="row">
	<div class="col-sm-6 col-sm-offset-3">
<?php echo $this->formElement($rejestracja_form->get('submit')); ?>
	</div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>
