<form id="reset_hasla" class="przelaczenie_logowanie"
<?php if ($this->ukryty): ?>
          style="display: none"
      <?php endif; ?>
      action="<?php echo $this->url('logowanie', ['action' => 'reset_hasla']); ?>" method="post">
    <div class="form-group">
	<input class="form-control" name="email" id="username" type="text" placeholder="Wpisz email" autofocus="autofocus">
    </div>

    <div class="form-group">
	<div class="row">
	    <div class="col-sm-6 col-sm-offset-3">
		<button type="submit" class="btn btn-yellow form-control">Wyślij</button></div>
	</div>
    </div>

    <div class="form-group">
	<div class="row">
	    <div class="col-lg-12">
		<div class="text-center">
		    <a href="#" id="to_loggin_back" class="forgot-password">
			<?php echo $this->translate("Wróć do strony logowania"); ?>
		    </a>
		</div>
	    </div>
	</div>
    </div>
</form>