

<div class="col-md-12">
    <?php if ($this->wynik->message): ?>
        <div class = "alert <?php echo $this->wynik->isSuccess ? 'alert-success' : 'alert-danger'; ?>">
	    <?php echo $this->wynik->message; ?>
        </div>
    <?php endif;
    ?>
</div>

<?php if (!$this->wynik->isSuccess): ?>
    <div class="panel-heading">
        <div class="row">
    	<label class="naglowek_logowanie"><?php echo $this->translate("Nie pamiętam hasła"); ?></label>
        </div>
        <hr>
    </div>
    <div class="panel-body">
	<?php
	echo $this->partial('logowanie/logowanie/reset_hasla_formularz.phtml',  ['ukryty' => false]);
    endif;
    ?>
    

</div>