<div class="col-md-6 login-reg-form">
	<?php if ($this->wynik->message): ?>
		<div class = "alert <?php echo $this->wynik->isSuccess ? 'alert-success' : 'alert-danger'; ?>">
			<?php echo $this->wynik->message; ?>
		</div>
	<?php endif;
	?>
	<?php if ($this->wynik->isSuccess && !$this->is_post): ?>
		<h1>Zmień hasło</h1>
		<form class="form-horizontal" action="" method="post">
			<fieldset>
				<input type="hidden" name="id" value="<?php echo $this->id; ?>">
				<input type="password" class="input-large form-control col-xs-12" name="nowe_haslo" id="username" type="text" placeholder="Nowe hasło" autofocus="autofocus">
				<input type="password" class="input-large form-control col-xs-12" name="nowe_haslo2" id="username" type="text" placeholder="Powtórz hasło" autofocus="autofocus">
				<div class="clearfix"></div>
				<button type="submit" class="btn btn-danger col-xs-12">Zmień hasło</button>
			</fieldset>
		</form>
	<?php endif; ?>
	<a href="<?php echo $this->url('home'); ?>" class="btn btn-danger col-xs-12">Strona główna</a>
</div>
