<div id="content" class="col-lg-10 col-sm-11" style="min-height: auto;">
    <div class="row">
	<div class="col-lg-12">
	    <div class="box">
		<div class="box-header" data-original-title="">
		    <h2>
			<i class="fa fa-user"></i>
			<span class="break"></span>
			<?php echo $this->translate("Uprawnienia roli");?></h2>
		</div>
		<div class="box-content">
		    <h2><?php echo $this->translate("Uprawnienia dla roli:");?> <?php echo $this->rola->nazwa; ?></h2>

		    <form   method="POST" enctype="multipart/form-data">
			<input type="hidden" name="role_id" value="<?php echo $this->rola->id ?>">

			<table class="table table-striped">
			    <thead>
				<tr>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td><input class="all" type="checkbox" <="" td="">
				    </td></tr>
			    </thead>
			    <tbody>
				<?php foreach ($this->uprawnieniaKategorie as $kategoria): ?>
    				<tr class="danger">
    				    <td><?php echo $this->translate("Uprawnienia dla komponentu:");?>  <strong><?php echo $kategoria->opis; ?></strong></td>
    				    <td></td>
    				    <td></td>
    				    <td><input class="group" type="checkbox" value="<?php echo $kategoria->kod; ?>"> </td>
    				</tr>
				    <?php
				    $uprawnienia = $kategoria->getUprawnienia();
				    foreach ($uprawnienia as $uprawnienie):
					?>
					<tr>
					    <td><?php echo $kategoria->opis; ?></td>
					    <td><?php echo $uprawnienie->opis; ?></td>
					    <td><?php echo $uprawnienie->kod; ?></td>
					    <td>
						<input
						    class="<?php echo $kategoria->kod; ?>"
						    type="checkbox"
						    value="<?php echo $uprawnienie->kod; ?>"
						    name="uprawnienia[<?php echo $uprawnienie->kod; ?>]"
						    <?php echo $this->rola->sprawdzUprawnienia($uprawnienie->kod) ? "checked" : ""; ?>>
						<?php echo $this->translate("Dozwolone");?>
					    </td>
					</tr>
				    <?php endforeach; ?>

				<?php endforeach; ?>
			    </tbody>
			</table>
			<button class="btn btn-success btn-sm"><?php echo $this->translate("Zapisz");?></button>
		    </form>
		</div>
	    </div>
	</div><!--/col-->
    </div><!--/row-->
</div>

<?php
Application\Controller\LadowaczSkryptow::add($this->basePath('js/pages/roles.js'));
