@import "variables.less";
@import "mixins_pastmo.less";

@font-face {
    font-family: 'Graviola';
    src: url('../fonts/graviola-regular-webfont.eot');
    src: url('../fonts/graviola-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/graviola-regular-webfont.woff2') format('woff2'),
        url('../fonts/graviola-regular-webfont.woff') format('woff'),
        url('../fonts/graviola-regular-webfont.ttf') format('truetype'),
        url('../fonts/graviola-regular-webfont.svg#graviolaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Custom Navigation Bar
.navbar-custom .nav li a {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    &:focus {
        text-shadow: none;
    }
}
.navbar-custom .navbar-toggle {
    text-transform: uppercase;
}

.btn-login, .navbar-custom .nav li a.btn-login{

        padding-top: 15px;
    padding-bottom: 15px;
    background-color: @theme-primary;
    .heading-font;
    color: white;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    &:hover,
    &:focus {
        color: white;
        background-color: darken(@theme-primary, 10%);
    }
}
@media(min-width:768px) {
    .btn-login {
        margin-left: 10px;
        margin-top: 0px;
        padding: 15px 0px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
}

.img-logo{
    height: 35px;
    margin-top: 8px;
    margin-left: 10px;
}

@media(min-width:768px) {
    .img-logo{
        height: 50px;
        margin-top: 0px;
    }
}

header .intro-text {
    .intro-lead-in {
        .subheading-font;
        font-style: normal;
        margin-bottom: 30px;
        line-height: 30px;
        text-shadow: 0 0 10px black;
    }
    .intro-heading {
        .heading-font;
        margin-bottom: 50px;
        font-size: 30px;
        text-shadow: 0 0 10px black;
    }
}

@media(min-width:768px) {
    header .intro-text {
        .intro-lead-in {
            .subheading-font;
            font-style: normal;
            line-height: 50px;
            margin-bottom: 30px;
            text-shadow: 0 0 10px black;
        }
        .intro-heading {
            .heading-font;
            font-size: 50px;
            margin-bottom: 50px;
            text-shadow: 0 0 10px black;
        }
    }
}


// Contact Section
section#contact .form-group textarea.form-control {
    height: 149px;
}

//Price Section

.circle {
    align-content: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    background-color: @theme-primary;
    color: @gray-darker;
    border-radius: 100%;
    text-align: center;
    h4 {
        font-size: 18px;
        margin-top: 12px;
        line-height: 14px;
    }
}

.panel-default{

    .panel-heading{
        background-color: #d9dce1;
        padding: 15px 0px;
        h4 {
            text-transform: uppercase;
        }
    }
    .panel-body{
        h5 {
            text-transform: uppercase;
        }
    }
    .panel-footer{
        background-color: #d9dce1;
    }
    .btn-buy {
        .button-variant(white; @gray-darker; @gray-darker);
        padding: 15px 40px;
    }

}

.btn-xl{
    text-transform: uppercase;
}


// Global Section Styles

section {
    padding: 80px 0;

    }

@media(min-width:768px) {
    section {
        padding: 80px 0;
    }
}

.function-item{
    padding: 20px;
    .function-heading{
        font-size: 16px;
        margin-top: 12px;
        line-height: 20px;
    }
}
