<ul class="nav" id="side-menu">
    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
        <li>
    	<a href="<?php echo $this->url('pulpit', array('action' => 'index')); ?>" ><i class="fa dodaj fa-home fa-fw"></i><span class="menu_zwiniete">Pulpit</span></a>
        </li>
    <?php endif; ?>

    <li>
	<a href="<?php echo $this->url('email', array('action' => 'index')); ?>"><i class="fa dodaj fa-envelope fa-fw"></i><span class="menu_zwiniete">Poczta</span></a>
    </li>

    <li>
	<a href="<?php echo $this->url('kalendarz', array('action' => 'index')); ?>"><i class="fa dodaj fa-calendar fa-fw"></i><span class="menu_zwiniete">Kalendarz</span></a>
    </li>

    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
        <li>
    	<a href="#">
    	    <i class="fa dodaj fa-thumb-tack fa-fw"></i>
    	    <span class="menu_zwiniete">Zlecenia</span>
    	    <span class="fa arrow"></span>
    	</a>
    	<ul class="nav nav-second-level">
    	    <li>
    		<a href="<?php echo $this->url('zlecenia', array('action' => 'dodaj')); ?>"><i class="fa dodaj fa-thumb-tack fa-fw"></i><span class="menu_zwiniete">Dodaj zlecenie</span></a>
    	    </li>
    	    <li>
    		<a href="<?php echo $this->url('zlecenia', array('action' => 'zlecenia_aktywne'));
	?>"><i class="fa dodaj fa-thumb-tack fa-fw"></i><span class="menu_zwiniete">Zlecenia aktywne</span></a>
    	    </li>
    	    <li>
    		<a href="<?php echo $this->url('zlecenia', array('action' => 'zlecenia_zamkniete'));
	?>"><i class="fa dodaj fa-thumb-tack fa-fw"></i><span class="menu_zwiniete">Zlecenia zamknięte</span></a>
    	    </li>

    	</ul>
        </li>
    <?php endif; ?>


    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
        <li>
    	<a href="<?php echo $this->url('klienci', array('action' => 'index')); ?>"><i class="fa dodaj fa-user fa-fw"></i><span class="menu_zwiniete">Klienci</span></a>
        </li>
    <?php endif; ?>



    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
        <li>
    	<a href="<?php echo $this->url('faktury', array('action' => 'index')); ?>"><i class="fa dodaj fa-user fa-fw"></i><span class="menu_zwiniete">Faktury</span></a>
        </li>
    <?php endif; ?>
    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE) && false): ?>
        <li>
    	<a href="<?php echo $this->url('manager_plikow', array('action' => 'index')); ?>"><i class="fa dodaj fa-file fa-fw"></i><span class="menu_zwiniete">Pliki</span></a>
        </li>
    <?php endif; ?>

</ul>
