<?php echo $this->doctype(); ?>

<html lang="pl">


    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Cremini') ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath('css/bootstrap-wysiwyg.css'))
                ->prependStylesheet($this->basePath('css/panel.css'))
                ->prependStylesheet($this->basePath('bower_components/font-awesome/css/font-awesome.min.css'))
                ->prependStylesheet($this->basePath('bower_components/morrisjs/morris.css'))
                ->prependStylesheet($this->basePath('css/sb-admin-2.css'))
                ->prependStylesheet($this->basePath('css/timeline.css'))
                ->prependStylesheet($this->basePath('bower_components/metisMenu/dist/metisMenu.min.css'))
                ->prependStylesheet($this->basePath('css/bootstrap-responsive.css'))
                ->prependStylesheet($this->basePath('css/bootstrap.css'))
                ->prependStylesheet($this->basePath('css/nadpisywanie_bootstrapa.css'))
                ->prependStylesheet($this->basePath('css/dropzone.css'))
                ->prependStylesheet($this->basePath('css/cremini.css'))
                ->prependStylesheet($this->basePath('css/pastmo/loader.css'));

	Application\Controller\LadowaczSkryptow::wyswietlCssy();
        ?>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
        <link href="<?php echo $this->basePath('css/fullcalendar.css'); ?>" rel="stylesheet">
        <link href="<?php echo $this->basePath('css/fullcalendar.print.css'); ?>" rel="stylesheet" media='print'>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath('js/okienka_dialogowe/bootbox.min.js'))
		->prependFile($this->basePath('js/pastmo/wyswietlanie_modali.js'))
		->prependFile($this->basePath('js/pastmo/wyzwalacz.js'))
                ->prependFile($this->basePath('js/pastmo/pastmo.js'))
                ->prependFile($this->basePath('js/pastmo/ustawienia.js'))
                ->prependFile($this->basePath('js/konwersacje.js'))
                ->prependFile($this->basePath('js/bootstrap-wysiwyg-init.js'))
                ->prependFile($this->basePath('js/bootstrap-wysiwyg.js'))
                ->prependFile($this->basePath('js/cremini/cremini.js'))
                ->prependFile($this->basePath('bower_components/bootstrap/dist/js/bootstrap.min.js'))
                ->prependFile($this->basePath('js/google-code-prettify/prettify.js'))
                ->prependFile($this->basePath('bower_components/jquery/dist/jquery.hotkeys.js'))
                ->prependFile($this->basePath('bower_components/jquery/dist/jquery.validate.js'))
                ->prependFile($this->basePath('bower_components/jquery/dist/jquery.min.js'))


        ;
        ?>

        <script>
<?php
$homeUrl = $this->url('home', array(), array('force_canonical' => true));
$odswiezanieJs = $this->pobierzUstawienie(\Pastmo\Wspolne\Enumy\KodyUstawienSystemu::ODSWIEZANIE_W_JS, 10000);
$uprawnienia = $this->pobierzUprawnieniaRoli();
?>

            var home_url = '<?php echo $homeUrl; ?>';
            var odswiezanieJs = '<?php echo $odswiezanieJs; ?>';
            var uprawnienia = <?php
echo json_encode(\Pastmo\Wspolne\Utils\ArrayUtil::przerobNaTabliceWartosci($uprawnienia, 'kod'));
?>;
        </script>
	<?php $this->ustawLokalizacjeJs(); ?>
    </head>
    <body class="cremini" data-ajax="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $this->basePath('ajax/przypomnienia.json'); ?>"
          data-home="<?php echo $this->url('home', array(), array('force_canonical' => true)); ?>">
        <div id="wrapper">
            <?php echo $this->partial('partials/layout_menu_partial.phtml'); ?>

            <div id="page-wrapper">
                <?php
                //echo $this->flashMessenger()->render('error',
                //array('alert', 'alert-danger'));
                ?>

                <?php echo $this->content; ?>

                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <script src="<?php echo $this->basePath('js/moment-with-locales.min.js'); ?>"></script>
        <script src="<?php echo $this->basePath('js/moment-recur.js'); ?>"></script>
        <?php
        echo $this->inlineScript()
                ->prependFile($this->basePath('js/obsluga_url.js'))
                ->prependFile($this->basePath('js/moc_hasla/moc_hasla.js'))
                ->prependFile($this->basePath('js/moc_hasla/pwstrength-bootstrap.js'))
                ->prependFile($this->basePath('js/przypomnienia/app_przypomnienia.js'))
                ->prependFile($this->basePath('bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js'))
                ->prependFile($this->basePath('bower_components/flot/jquery.flot.time.js'))
                ->prependFile($this->basePath('bower_components/flot/jquery.flot.resize.js'))
                ->prependFile($this->basePath('bower_components/flot/jquery.flot.pie.js'))
                ->prependFile($this->basePath('bower_components/flot/jquery.flot.js'))
                ->prependFile($this->basePath('bower_components/flot/excanvas.min.js'))
                ->prependFile($this->basePath('js/sb-admin-2.js'))
                ->prependFile($this->basePath('js/akcje_w_layoucie.js'))
                ->prependFile($this->basePath('js/chowanie_wierszy_w_tabeli.js'))
                ->prependFile($this->basePath('js/bootstrap-wysiwyg.js'))
                ->prependFile($this->basePath('js/okienka_dialogowe/bootbox.min.js'))
                ->prependFile($this->basePath('bower_components/morrisjs/morris.min.js'))
                ->prependFile($this->basePath('bower_components/raphael/raphael-min.js'))
                ->prependFile($this->basePath('bower_components/metisMenu/dist/metisMenu.js'))
                ->prependFile($this->basePath('js/uploadowanie_plikow/dropzone_zasoby.js'))
                ->prependFile($this->basePath('js/uploadowanie_plikow/dropzone.js'))





        ;
        Application\Controller\LadowaczSkryptow::wyswietl();
        ?>

    </body>
</html>
