<?php
$zalogowany = $this->zalogowanyUser();
?>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="pasek_gorny">

        <div class="pull-left visible-xs">
            <i class="fa fa-bars chowanie" data-toggle="collapse" data-target=".navbar-collapse"> </i>
            <a class="brand_cremini" ><img class="avatar-mobile" src="<?php echo $zalogowany ? $this->basePath($zalogowany->avatar->wyswietl()) : ""; ?>" alt="Cremini"/></a>
        </div>
        <div class="col-xs-3 hidden-xs">
            <div class="navbar-header">
                <button type="button btn-link" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i id="chowanie_akcja" class="fa fa-bars chowanie"></i>
            </div>
        </div>

        <div class="col-xs-2 hidden-xs">
            <i class="fa fa-bars visible-xs"></i>
        </div>

        <div class="wyszukiwarka_glowna sidebar-search hidden">
            <div class="input-group custom-search-form">
                <input type="text" class="wyszukiwarka_pole form-control" placeholder="Szukaj...">
                <span class="input-group-btn">
                    <button class="wyszukiwarka_przycisk btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>

        <!-- /.navbar-header -->
        <div class="pull-right ">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown ">
                    <a  id="zalogowany" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class=" user_avatar chat-img pull-left">
                            <i class="fa fa-user fa-fw"></i>
                        </span>
                        <b><?php echo $zalogowany?$zalogowany->__toString():"" ?></b> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
                            <li><a href="<?php echo $this->url("logowanie", array("action" => "profil"));
                            ?>"><i class="fa fa-user fa-fw"></i> Profil użytkownika</a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
                            <li><a href="<?php echo $this->url("logowanie", array("action" => "profil_ustawienia"));
                            ?>"><i class="fa fa-gear fa-fw"></i> Ustawienia</a>
                            </li>
                        <?php endif; ?>
                        <li class="divider"></li>
                        <li><a href="<?php echo $this->url('logowanie', array('action' => 'logout'));
                        ?>"><i class="fa fa-sign-out fa-fw"></i> Wyloguj</a>
                        </li>
                    </ul><!-- /.dropdown-user -->
                </li><!-- /.dropdown -->
            </ul><!-- /.navbar-top-links -->
        </div>
    </div>
    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <a href="<?php echo $this->url('home'); ?>">
                <div class="menu_napis hidden-xs">
                    <div class="avatar_menu"
                         style="
                         background-image: url('<?php echo $zalogowany ? $this->basePath($zalogowany->avatar->wyswietl()) : ""; ?>')"
                         >
                    </div>
                </div>
            </a>

            <?php echo $this->partial(\Menu\Controller\MenuController::wyswietlMenu()); ?>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>