<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2>
                        <i class="fa fa-user"></i>
                        <span class="break"></span>
                        <?php echo $this->translate("Firmy");?></h2>
                </div>
                
                <form method="get" class="wyszukiwarka_form">
                    <div class="box-content">
                        <input type="hidden" name="sort_klucz" id="sort_key" value="<?php echo $this->sort_key; ?>">
                        <input type="hidden" name="sort_typ" id="sort_typ" value="<?php echo $this->sort_typ; ?>">
                        
                        <div class="form-group">
                            <div class="filtry">
                                <h2><strong><?php echo $this->translate("Filtry");?></strong></h2>
                                <div class="form-group row">
                                    <div class="col-lg-5">
                                        <small><?php echo $this->translate("Domyślny sprzedawca");?></small>
                                        <input value="" class="form-control" type="input" placeholder="Domyślny sprzedawca" name="domyslny_sprzedawca">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-5">
                                        <small><?php echo $this->translate("Aktywne projekty");?></small>
                                        <input value="" class="form-control" type="input" placeholder="Aktywne projekty" name="aktywne_projekty">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-5">
                                    <input value="" name="wyszukaj" id="company-search" class="form-control" type="text" aria-label="...">
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="btn form-control btn-primary toogle_filtry"><?php echo $this->translate("Filtry");?></a>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn form-control btn-primary"><i class="glyphicon glyphicon-search"></i><?php echo $this->translate(" Szukaj");?></button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
                
                <a id="add-new-company" class="btn btn-primary btn-sm"><?php echo $this->translate("Dodaj nową firmę");?></a>
                
                <table id="companies-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
				<?php echo $this->translate("Id");?>
				<?php $this->wyswietlStrzalki('id'); ?>
                            </th>
                            <th>
				<?php echo $this->translate("Nazwa");?>
				<?php $this->wyswietlStrzalki('nazwa'); ?>
                            </th>
                            <th><?php echo $this->translate("Projekty");?></th>
                            <th>
				<?php echo $this->translate("Data utworzenia");?>
				<?php $this->wyswietlStrzalki('data_dodania'); ?>
                                
                                
                            </th>
                            <th><?php echo $this->translate("Domyślny sprzedawca");?></th>
                            <th><?php echo $this->translate("Akcja");?></th>
                        </tr>
                    </thead>
                    <tbody>
			<?php foreach ($this->firmy as $firma): ?>
                        <tr>
                            <td>
				    <?php echo $firma->id; ?>
                            </td>
                            <td>
                                <a href="<?php
				    echo $this->url('firmy', array('action' => 'szczegoly', 'id' => $firma->id));
				    ?>">
					   <?php echo $firma->nazwa; ?>
                                </a>
                            </td>
                            <td>
                                <span class="badge"><?php echo $firma->getLiczbeProjektow(); ?></span>
                            </td>
                            <td class="center"><?php echo $firma->data_dodania; ?></td>
                            <td class="center"><?php echo $firma->domyslny_sprzedawca; ?>
                            </td>
                            <td>
                                <button
                                    class="delete-company btn btn-danger btn-xs przycisk_z_potwierdzeniem"
                                    data-url="<?php
					echo $this->url('firmy', array('action' => 'usun', 'id' => $firma->id));
					?>"><?php echo $this->translate("usuń");?></button>
                            </td>
                        </tr>
			<?php endforeach; ?>
                        
                    </tbody>
                </table>
                
                
            </div>
        </div>
    </div>
</div>

<div id="nowa_firma_cover">
    <?php echo $this->partial('firmy/firmy/part/nowa_firma.phtml'); ?>
</div>

<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/pages/companies.js'));
