<div id="content" class="col-lg-10 col-sm-11" data-company-id="<?php echo $this->firma->id; ?>" style="min-height: auto;">
    <div class="row">
        <div class="col-lg-9">
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="fa fa-user"></i><span class="break"></span><?php echo $this->translate("Profil firmy");?></h2>
                </div>
                <div class="box-content">
                    <div class="form-group clearfix">
                        <a href="<?php
			echo $this->url('firmy', array('action' => 'pdf', 'id' => $this->firma->id));
			?>" class="btn btn-warning btn-sm pull-right"><i class="fa fa-print"></i><?php echo $this->translate(" PDF");?></a>
                    </div>
                    <div class="clearfix">
                        <a href="#" class="photo-change company-logo pull-left">
                            <img class="avatary img-thumbnail" src="<?php echo $this->basePath($this->firma->img->wyswietl()); ?>">
                            <form action="<?php
			    echo $this->url('firmy', array('action' => 'zmien_obrazek', 'id' => $this->firma->id));
			    ?>" class="photo-change-overflow dz-clickable" method="post">
                            </form>
                        </a>
                        <h1 id="company-title">
			    <?php echo $this->firma->nazwa; ?>                        </h1>
                        <input type="text" style="width:500px;" class="change-company-name hide form-control" value="<?php echo $this->firma->nazwa; ?>">
                    </div>
                    
                    
                    <div class="row">
                        
                        
                        <div class="col-lg-6">
                            <form action="<?php
			    echo $this->url('firmy', array('action' => 'aktualizuj_adres_wysylki', 'id' => $this->firma->id));
			    ?>" method="post">
                                <h2><?php echo $this->translate("Adres wysyłki");?></h2>
                                <div class="form-group">
                                    <label><?php echo $this->translate("Kraj");?></label>
				    <?php
				    echo $this->partial('projekty/projekty/szczegoly/select_country.phtml',
					    array('aktualny' => $this->firma->adres_wysylki->kraj));
				    ?>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label><?php echo $this->translate("Kod pocztowy");?></label>
                                        <input type="text" name="kod" class="form-control" value="<?php echo $this->firma->adres_wysylki->kod; ?>" placeholder="Kod pocztowy">
                                    </div>
                                    <div class="col-sm-8">
                                        <label><?php echo $this->translate("Miasto");?></label>
                                        <input type="text" name="miasto" class="form-control" value="<?php echo $this->firma->adres_wysylki->miasto; ?>" placeholder="Miasto">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><?php echo $this->translate("Ulica");?></label>
                                    <input type="text" name="ulica" class="form-control" value="<?php echo $this->firma->adres_wysylki->ulica; ?>" placeholder="Ulica">
                                    
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label><?php echo $this->translate("Numer budynku");?></label>
                                        <input type="text" name="nr_domu" class="form-control" value="<?php echo $this->firma->adres_wysylki->nr_domu; ?>">
                                    </div>
                                    <div class="col-sm-3">
                                        <label><?php echo $this->translate("Lokal");?></label>
                                        <input type="text" name="nr_lokalu" class="form-control" value="<?php echo $this->firma->adres_wysylki->nr_lokalu; ?>">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label><?php echo $this->translate("Osoba kontaktowa");?></label>
                                        <input type="text" name="osoba_kontaktowa" class="form-control" value="<?php echo $this->firma->adres_wysylki->osoba_kontaktowa; ?>">
                                    </div>
                                    <div class="col-sm-3">
                                        <label><?php echo $this->translate("Telefon");?></label>
                                        <input type="text" name="telefon" class="form-control" value="<?php echo $this->firma->adres_wysylki->telefon; ?>">
                                    </div>
                                </div>
                                <button class="btn btn-primary"><?php echo $this->translate("Zapisz");?></button>
                            </form>
                        </div>
                        
                        
                        <div class="col-lg-6">
                            <form action="<?php
			    echo $this->url('firmy', array('action' => 'aktualizuj_adres_faktury', 'id' => $this->firma->id));
			    ?>" method="post">
                                <h2><?php echo $this->translate("Dane do faktury");?></h2>
                                <div class="form-group row">
                                    <div class="col-lg-8">
                                        <label><?php echo $this->translate("Nazwa firmy");?></label>
                                        <input type="text" name="nazwa" class="form-control" value="<?php echo $this->firma->adres_faktury->nazwa; ?>" placeholder="Nazwa firmy">
                                    </div>
                                    <div class="col-lg-4">
                                        <label><?php echo $this->translate("NIP");?></label>
                                        <input type="text" name="nip" class="form-control" value="<?php echo $this->firma->nip; ?>" placeholder="NIP">
                                    </div>
                                    
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label><?php echo $this->translate("Kod pocztowy");?></label>
                                        <input type="text" name="kod" class="form-control" value="<?php echo $this->firma->adres_faktury->kod; ?>" placeholder="Kod pocztowy">
                                    </div>
                                    <div class="col-sm-8">
                                        <label><?php echo $this->translate("Miasto");?></label>
                                        <input type="text" name="miasto" class="form-control" value="<?php echo $this->firma->adres_faktury->miasto; ?>" placeholder="Miasto">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><?php echo $this->translate("Ulica");?></label>
                                    <input type="text" name="ulica" class="form-control" value="<?php echo $this->firma->adres_faktury->ulica; ?>" placeholder="Ulica">
                                    
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label><?php echo $this->translate("Numer budynku");?></label>
                                        <input type="text" name="nr_domu" class="form-control" value="<?php echo $this->firma->adres_faktury->nr_domu; ?>">
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <label><?php echo $this->translate("Numer lokalu");?></label>
                                        <input type="text" name="nr_lokalu" class="form-control" value="<?php echo $this->firma->adres_faktury->nr_lokalu; ?>">
                                    </div>
                                </div>
                                <button class="btn btn-primary"><?php echo $this->translate("Zapisz");?></button>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    
                    <h2><?php echo $this->translate("Użytkownicy firmy");?></h2>
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Nazwa użytkownika");?></th>
                                <th><?php echo $this->translate("Email");?></th>
                                <th><?php echo $this->translate("Data utworzenia");?></th>
                                <th><?php echo $this->translate("Telefon");?></th>
                                <th><?php echo $this->translate("Telefon");?></th>
                                <th><?php echo $this->translate("Akcja");?></th>
                            </tr>
                        </thead>
                        <tbody>
			    <?php foreach ($this->firma->getUzytkownicy() as $uzytkownik): ?>
                            <tr data-user-id="<?php echo $uzytkownik->id; ?>">
                                <td>
                                    <a href="<?php
					echo $this->url('logowanie', array('action' => 'profil', 'id' => $uzytkownik->id));
					?>">
					       <?php echo $uzytkownik; ?>
                                    </a>
                                </td>
                                <td>
                                    <a href="<?php
					echo $this->url('logowanie', array('action' => 'profil', 'id' => $uzytkownik->id));
					?>">
					       <?php echo $uzytkownik->mail; ?>
                                    </a>
                                </td>
                                <td><?php echo $uzytkownik->data_dodania; ?></td>
                                <td><?php echo $uzytkownik->telefon; ?></td>
                                <td><?php echo $uzytkownik->telefon2; ?></td>
                                <td>
                                    <a class="delete-from-company btn btn-xs btn-danger" href="javascript:void(0)" data-user-id="<?php echo $uzytkownik->id; ?>"><?php echo $this->translate("Usuń z firmy");?></a>
                                    <a class="assign-to-company btn btn-xs btn-primary" href="javascript:void(0)" data-user-id="<?php echo $uzytkownik->id; ?>"><?php echo $this->translate("Przypisz do firmy");?></a>
                                </td>
                            </tr>
			    <?php endforeach; ?>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-company-member-modal"><?php echo $this->translate("Dodaj nowego użytkownika");?></a>
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#existing-company-member-modal"><?php echo $this->translate("Przypisz istniejącego użytkownika");?></a>
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new-company-project-modal"><?php echo $this->translate("Dodaj nowy projekt");?></a>
                    </div>
                </div>
            </div>
        </div><!--/col-->
        <div class="col-lg-3">
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><?php echo $this->translate("Projekty firmy");?></h2>
                </div>
                <div class="box-content">
                    <h3><?php echo $this->translate("Trwające");?></h3>
                    <ul>
			<?php foreach ($this->projektyAktywne as $projekt): ?>
                        <li>
                            <a href="<?php
				echo $this->url('projekty', array('action' => 'szczegoly', 'id' => $projekt->id));
				?>">
				       <?php echo $projekt->nazwa; ?>
                            </a>
                        </li>
			<?php endforeach; ?>
                    </ul>
                    <h3><?php echo $this->translate("Zarchiwizowane");?></h3>
                    <ul>
			<?php foreach ($this->projektyZamkniete as $projekt): ?>
                        <li>
                            <a href="<?php
				echo $this->url('projekty', array('action' => 'szczegoly', 'id' => $projekt->id));
				?>">
				       <?php echo $projekt->nazwa; ?>
                            </a>
                        </li>
			<?php endforeach; ?>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><?php echo $this->translate("Kategoria lojalnościowa");?></h2>
                </div>
                <div class="box-content">
                    <select id="loyalty_category" class="form-control">
                        <option value="NULL"><?php echo $this->translate("Brak przypisanej zniżki");?></option>
			<?php foreach ($this->kategorieLojalnosciowe as $kategoria): ?>
                        <option value="<?php echo $kategoria->id; ?>" <?php
			    $this->selected($kategoria->id, $this->firma->kategoria_lojalnosciowa->id);
			    ?>><?php echo $kategoria->nazwa; ?></option>
				<?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><?php echo $this->translate("Domyślny sprzedawca");?></h2>
                </div>
                <div class="box-content">
                    <select id="default_seller" class="form-control">
                        <option value=""><?php echo $this->translate("Brak domyślnego sprzedawcy");?></option>
                        
			<?php foreach ($this->sprzedawcy as $sprzedawca): ?>
                        <option value="<?php echo $sprzedawca->id; ?>" <?php
			    $this->selected($sprzedawca->id, $this->firma->domyslny_sprzedawca->id);
			    ?>><?php echo $sprzedawca; ?></option>
				<?php endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="new-company-project-modal" class="modal fade in" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><?php echo $this->translate("Dodaj nowy projekt");?></h4>
            </div>
            <div class="modal-body">
                <form id="nowy_projekt" method="post" action="<?php
		echo $this->url('firmy', array('action' => 'dodaj_projekt', 'id' => $this->firma->id));
		?>">
                    <input name="nazwa" class="form-control" placeholder="Nazwa projektu">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Wyjdź");?></button>
                <button type="button" class="btn btn-primary"><?php echo $this->translate("Zapisz");?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="add-company-member-modal" class="modal fade in" aria-hidden="false" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title"><?php echo $this->translate("Dodaj członka firmy");?></h3>
            </div>
            <div class="modal-body">
                <form id="dodaj_uzytkownika" method="post" action="<?php
		echo $this->url("firmy", array('action' => 'dodaj_uzytkownika', 'id' => $this->firma->id));
		?>">
                    <div class="form-group">
                        <label><?php echo $this->translate("Imię i Nazwisko");?></label>
                        <input id="add-company-member-name" name="imie_nazwisko" type="text" class="form-control" placeholder="Imię i Nazwisko">
                    </div>
                    <div class="form-group">
                        <label><?php echo $this->translate("Email");?></label>
                        <input id="add-company-member-email"  name="email" type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label><?php echo $this->translate("Numer telefonu");?></label>
                        <input id="add-company-member-phone"  name="telefon" type="text" class="form-control" placeholder="Numer telefonu">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Zamknij");?></button>
                <button type="button" class="btn btn-primary"><?php echo $this->translate("Zapisz");?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="existing-company-member-modal" class="modal fade in" aria-hidden="false" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title"><?php echo $this->translate("Wybierz członka firmy");?></h3>
            </div>
            <div class="modal-body">
                <form id="istniejacy_uzytkownik" method="post" action="<?php
		echo $this->url("firmy", array('action' => 'przypisz_uzytkownika', 'id' => $this->firma->id));
		?>">
                    <div class="form-group">
                        <label><?php echo $this->translate("Imię i Nazwisko");?></label>
                        <select class="form-control" name="uzytkownik_id">
			    <?php foreach ($this->uzytkownicy as $uzytkownik): ?>
                            <option value="<?php echo $uzytkownik->id; ?>"><?php echo $uzytkownik; ?></option>
			    <?php endforeach; ?>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Zamknij");?></button>
                <button type="button" class="btn btn-primary"><?php echo $this->translate("Zapisz");?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="assign-user-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->translate("Przypisz użytkownika");?></h4>
            </div>
            <div class="modal-body">
                <h2><?php echo $this->translate("Przypisz do firmy");?></h2>
                <select class="form-control" name="company_id">
		    <?php foreach ($this->firmy as $fir): ?>
                    <option value="<?php echo $fir->id; ?>"><?php echo $fir->nazwa; ?></option>
		    <?php endforeach; ?>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Wyjdź");?></button>
                <button type="button" class="btn btn-primary save"><?php echo $this->translate("Zapisz");?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>                <!-- end: Content -->

</div><!--/row-->
</div>


<?php
$this->inlineScript()
	->prependFile($this->basePath('js/pages/company.js'))
	->prependFile($this->basePath('js/uploadowanie_plikow/dropzone.js'))
;
?>