<html lang="pl">
    <head>

		<meta charset="utf-8">
		<title><?php echo $this->faktura->nr_faktury; ?></title>
		<style>
			body {
				font-family: DejaVu Sans, sans-serif;
				font-size: 11px;
			}

			table{
				margin-bottom: 20px;
			}

			.strona{
				width: 100%;
				height: 952px;
				border-bottom: 1px solid black;

			}

			.stopka{
				width: 100%;
			}

			th,td, .tabela_podsumowanie{
				border: 1px solid black;
			}

			.tabela_podsumowanie td{
				border:none;

			}

			@page {
				size: a4 portrait;
				margin:60px;
			}

			td.numer_faktury,do_zaplaty{
				font-size: 12.5px;
				font-weight: bold
			}

			.pogrubienie{
				font-weight: bold
			}

			td.daty{
				font-size: 7.5px;
			}

			.czcionka_9{
				font-size: 10px;
			}
			.tabela_lista_produktow th{
				font-size: 9.5px;
				font-weight: bold;
			}
			.czcionka_7_5,.tabela_lista_produktow td{
				font-size: 8.5px;
			}

			.td30proc{
				width: 30%;
			}

			.tabela100proc{
				width:100%;
			}
			.tabela60proc{
				width:60%;
			}

			.tabela1{
				height: 100px;
			}

			.tabela1 td, .tabela_dane_sprzedawcy td{
				padding: 10px;
				padding-top:15px;

			}

			.tabela_sposob_platnosci td,.tabela_podsumowanie,.tabela_podpisy td{
				padding: 10px;
			}

			.wysrodkowany_tekst{
				text-align: center;
			}
			.do_prawej{
				text-align: right;
			}

			.width60proc{
				width: 70%;
			}
			.width50proc{
				width: 50%;
			}
			.width30proc{
				width: 30%;
			}

			.do_lewej{
				float:left;
			}

			.wysokosc_2em{
				height: 25px;
			}
			.wysokosc_3em{
				height: 50px;
			}
			.wysokosc_100{
				height: 100px;
			}
			.padding2{
				padding: 2px;
			}
			.flo_r{
				float: right;
			}



		</style>
    </head>

    <body id="faktura_body">
		<?php dodajStrone("", $this); ?>

    </body>
</html>

<?php

function dodajStrone($dodatkowyTekst, $view) {
	?>
	<div class="strona">

		<div>
			<table class="tabela100proc tabela1"  cellspacing="0">
				<tr>
					<td class="td30proc">
					</td>
					<td class="numer_faktury td30proc wysrodkowany_tekst">
						<div>Faktura<?php echo $dodatkowyTekst; ?></div>
						<div><?php echo $view->faktura->nr_faktury; ?></div>
					</td>
					<td class="daty td30proc">
						<div class="wysokosc_2em">
							<div class="width60proc pogrubienie do_lewej">MIEJSCE WYSTAWIENIA:</div>
							<div class="flo_r do_prawej"><?php echo $view->faktura->wystawca->miejsce_wystawienia; ?></div>
						</div>
						<div class="wysokosc_2em">
							<div class="width60proc pogrubienie do_lewej">DATA WYSTAWIENIA:</div>
							<div class="flo_r do_prawej"><?php echo $view->faktura->data_wystawienia; ?></div>
						</div>
						<div class="wysokosc_2em">
							<div class="width60proc pogrubienie do_lewej">DATA DOSTAWY/WYKONANIA USŁUGI:</div>
							<div class="flo_r do_prawej"><?php echo $view->faktura->data_wykonania; ?></div>
						</div>
						<div class="wysokosc_2em">
							<div class="width60proc pogrubienie do_lewej">TERMIN PŁATNOŚCI:</div>
							<div class="flo_r do_prawej"><?php echo $view->faktura->termin_platnosci; ?></div>
						</div>
					</td>
				</tr>
			</table>
		</div>


		<div>
			<table cellspacing="0" class="tabela100proc tabela_dane_sprzedawcy">
				<thead>
					<tr>
						<th class="czcionka_9 pogrubienie width50proc" >
							SPRZEDAWCA
						</th>
						<th class="czcionka_9 pogrubienie width50proc" >
							NABYWCA
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="czcionka_9 wysokosc_2em">
								<div class="pogrubienie do_lewej width30proc">Nazwa:</div>
								<div class="flo_r width60proc "><?php echo $view->faktura->wystawca->nazwa; ?></div>
							</div>
							<div class="czcionka_7_5 wysokosc_3em">
								<div>
									<div class="pogrubienie do_lewej width30proc wysokosc_3em">Adres:</div>
									<div class="flo_r width60proc wysokosc_3em">
										<div class=" wysokosc_2em"><?php echo $view->faktura->wystawca->adres->ulica; ?></div>
										<div class=" wysokosc_2em"><?php echo $view->faktura->wystawca->adres->kod; ?> <?php echo $view->faktura->wystawca->adres->miasto; ?></div>
									</div>
								</div>
							</div>
							<div class="czcionka_7_5 wysokosc_2em">
								<div class="pogrubienie do_lewej width30proc">NIP:</div>
								<div class="flo_r width60proc "><?php echo $view->faktura->wystawca->nip; ?></div>
							</div>
						</td>
						<td>
							<div class="czcionka_9 wysokosc_2em">
								<div class="pogrubienie do_lewej width30proc">Nazwa:</div>
								<div class="flo_r width60proc"><?php echo $view->faktura->klient->nazwa; ?></div>
							</div>
							<div class="czcionka_7_5 wysokosc_3em">
								<div>
									<div class="pogrubienie do_lewej width30proc wysokosc_3em">Adres:</div>
									<div class="flo_r width60proc wysokosc_3em">
										<div class="wysokosc_2em"><?php echo $view->faktura->klient->adres->ulica; ?></div>
										<div class="wysokosc_2em"><?php echo $view->faktura->klient->adres->kod; ?> <?php echo $view->faktura->klient->adres->miasto; ?></div>
									</div>
								</div>
							</div>
							<div class="czcionka_7_5 wysokosc_2em">
								<div class="pogrubienie do_lewej width30proc">NIP:</div>
								<div class="flo_r width60proc"><?php echo $view->faktura->klient->nip; ?></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div>
			<table class="tabela_lista_produktow tabela100proc" cellspacing="0">
				<thead>
					<tr>
						<th>
							Lp.
						</th>
						<th>
							Nazwa
						</th>
						<th>
							Ilośćć
						</th>
						<th>
							J.m.
						</th>
						<th>
							Cena netto (PLN)
						</th>
						<th>
							Wartość netto (PLN)
						</th>
						<th>
							Stawka VAT
						</th>
						<th>
							Kwota VAT (PLN)
						</th>
						<th>
							Wartość brutto (PLN)
						</th>
					</tr>
				</thead>
				<tbody class="wysrodkowany_tekst padding2">
					<tr>
						<td>1</td>
						<td>Usługa</td>
						<td>1</td>
						<td>szt</td>
						<td><?php echo $view->faktura->getKwoteNetto(); ?></td>
						<td><?php echo $view->faktura->getKwoteNetto(); ?></td>
						<td><?php echo $view->faktura->vat; ?>%</td>
						<td><?php echo $view->faktura->getKwotaVat(); ?></td>
						<td><?php echo $view->faktura->getKwotaBrutto(); ?></td>
					</tr>
					<tr>
						<td class="pogrubienie" colspan="4"></td>
						<td class="pogrubienie">RAZEM</td>
						<td class="pogrubienie"><?php echo $view->faktura->getKwoteNetto(); ?></td>
						<td class="pogrubienie">x</td>
						<td class="pogrubienie"><?php echo $view->faktura->getKwotaVat(); ?></td>
						<td class="pogrubienie"><?php echo $view->faktura->getKwotaBrutto(); ?></td>
					</tr>
					<tr>
						<td colspan="4"></td>
						<td class="pogrubienie">W tym</td>
						<td><?php echo $view->faktura->getKwoteNetto(); ?></td>
						<td><?php echo $view->faktura->vat; ?>%</td>
						<td><?php echo $view->faktura->getKwotaVat(); ?></td>
						<td><?php echo $view->faktura->getKwotaBrutto(); ?></td>
					</tr>
				</tbody>
			</table>

		</div>

		<div>
			<table class="tabela60proc czcionka_7_5 tabela_sposob_platnosci">
				<tr>
					<td>
						<span class="pogrubienie">SPOSÓB PŁATNOŚCI:</span> Gotówka
					</td>
				</tr>
			</table>
		</div>
		<div>
			<table class="tabela_podsumowanie tabela60proc czcionka_7_5">
				<tr>
					<td
						<span class="pogrubienie">Razem słownie:</span> <?php echo $view->faktura->slownie; ?>
					</td>
				</tr>
				<tr>
					<td
						<span class="pogrubienie">Zapłacono:</span> 0,00 PLN
					</td>
				</tr>
				<tr>
					<td>
						<div class="do_zaplaty">Pozostało do zapłaty: <?php echo $view->faktura->getKwotaBrutto(); ?> PLN</div>
					</td>
				</tr>

			</table>
		</div>


		<div>
			<table  cellspacing="0"  class="tabela100proc tabela_podpisy">
				<tr>
					<td class="czcionka_7_5 pogrubienie wysrodkowany_tekst">
						Podpis odbiorcy
					</td>
					<td class="czcionka_7_5 pogrubienie wysrodkowany_tekst">
						Podpis wystawcy
					</td>
				</tr>
				<tr>
					<td class="wysokosc_100">

					</td>
					<td class="czcionka_8_5 wysokosc_100">
						<?php echo $view->faktura->wystawca->imie_nazwisko; ?>
					</td>
				</tr>
			</table>
		</div>

	</div>
	<div class="stopka do_prawej">
		<span>Dokument nr <?php echo $view->faktura->nr_faktury; ?>. Strona 1/1</span>
	</div>

	<?php
}
