<div class="row">
    <div class="col-lg-12">
	<h1 class="page-header">Faktury</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->



<div class="row">
        <div clas='pull-right'>
            <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
            <a href="<?php echo $this->url('ustawienia', array('action' => 'index')); ?>" class="btn btn-danger dodaj_dj">Dane do faktury</a>
            <?php endif; ?>
        </div>
    <div class="col-lg-12">
	<div id="plusy_rozwijanie"></div>
        
        

	<div class="panel tabela_dj panel-default">
	    <div class="panel-body">
		<div class="table-responsive">
		    <table class="table table-hover">
			<thead>
			    <tr>
				<th >#</th>
				<th>Nr faktury</th>
				<th>Data utworzenia</th>
				<th>Klient</th>
				<th></th>
			    </tr>
			</thead>
			<tbody  id="body_tabeli">
			    <?php
			    $i = 0;
			    foreach ($this->faktury as $faktura):
				$i++;
				?>
    			    <tr>
    				<td><?php echo $i; ?></td>
    				<td>
					<?php echo $faktura->nr_faktury; ?>

    				</td>
    				<td>
					<?php echo $faktura->data_wystawienia; ?>

    				</td>
    				<td>
					<?php echo $faktura->klient->nazwa; ?>

    				</td>
    				<td>
    				    <a href="<?php echo $this->url('faktury', ['action' => 'wyswietl', 'id' => $faktura->id]); ?>">
    					<i class="glyphicon glyphicon-paperclip"></i>
    				    </a>
    				</td>

    			    </tr>
			    <?php endforeach; ?>

			</tbody>
		    </table>
		</div>
		<!-- /.table-responsive -->
	    </div>
	</div>
    </div>
</div>
