
<div class="row">
    <div class="col-lg-12">
	<h1 class="page-header">Wystaw fakturę</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
	<div class="panel panel-default">
	    <div class="panel-heading">
		Nabywca: <?php echo $this->klient->nazwa; ?>
	    </div>
	    <div class="panel-body">

		<div class="row">
		    <div class="col-lg-12">
			<form method="POST" action="<?php
			echo $this->url('faktury',
				array('action' => 'generuj'
//			    , 'tryb' => 'test'
			));
			?>">
			    <input type="hidden" name="klient_id" value="<?php echo $this->klient->id; ?>">

			    <div class="form-group">
				<label>Kwota netto</label>
				<input id="netto"
				       name="do_zaplaty" class="form-control col-lg-4 bez_flo"
				       type="number"
				       step="0.01"
				       required="true"/>
			    </div>

			    <div class="form-group">
				<label>Stawka VAT</label>
				<input id="vat" type="number"
				       step="1"
				       name="vat" class="form-control col-lg-4 bez_flo"
				       required="true"
				       />
			    </div>
			    <div class="form-group">
				<label>Kwota brutto</label>
				<div id="brutto"></div>
			    </div>
			    <div class="form-group">
				<label>Słownie</label>
				<input
				    name="slownie" class="form-control col-lg-4 bez_flo"
				    required="true"
				    />
			    </div>

			    <div class="form-group">
				<label>Termin płatności</label>
				<input type="date"
				       name="termin_platnosci" class="form-control col-lg-4 bez_flo data"
				       required="true"
				       />
			    </div>
			    <div class="form-group">
				<label>Data wykonania usługi</label>
				<input type="date"
				       name="data_wykonania" class="form-control col-lg-4 bez_flo data"
				       required="true"
				       />
			    </div>





			    <input type="submit" value="Generuj" class="btn btn-danger">
			</form>
		    </div>
		</div></div>

	</div>
    </div>
</div>

<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/pastmo/faktury/kwota_brutto.js'));
