@font-face {
  font-family: 'Graviola';
  src: url('../fonts/graviola-regular-webfont.eot');
  src: url('../fonts/graviola-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/graviola-regular-webfont.woff2') format('woff2'), url('../fonts/graviola-regular-webfont.woff') format('woff'), url('../fonts/graviola-regular-webfont.ttf') format('truetype'), url('../fonts/graviola-regular-webfont.svg#graviolaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.navbar-custom .nav li a {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
.navbar-custom .nav li a:focus {
  text-shadow: none;
}
.navbar-custom .navbar-toggle {
  text-transform: uppercase;
}
.btn-login,
.navbar-custom .nav li a.btn-login {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fcd315;
  font-family: "Graviola", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  color: white;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
.btn-login:hover,
.navbar-custom .nav li a.btn-login:hover,
.btn-login:focus,
.navbar-custom .nav li a.btn-login:focus {
  color: white;
  background-color: #dbb503;
}
@media (min-width: 768px) {
  .btn-login {
    margin-left: 10px;
    margin-top: 0px;
    padding: 15px 0px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
}
.img-logo {
  height: 35px;
  margin-top: 8px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .img-logo {
    height: 50px;
    margin-top: 0px;
  }
}
header .intro-text .intro-lead-in {
  font-family: "Graviola", Helvetica, Arial, sans-serif;
  font-style: normal;
  margin-bottom: 30px;
  line-height: 30px;
  text-shadow: 0 0 10px black;
}
header .intro-text .intro-heading {
  font-family: "Graviola", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  margin-bottom: 50px;
  font-size: 30px;
  text-shadow: 0 0 10px black;
}
@media (min-width: 768px) {
  header .intro-text .intro-lead-in {
    font-family: "Graviola", Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 50px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px black;
  }
  header .intro-text .intro-heading {
    font-family: "Graviola", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-size: 50px;
    margin-bottom: 50px;
    text-shadow: 0 0 10px black;
  }
}
section#contact .form-group textarea.form-control {
  height: 149px;
}
.circle {
  align-content: center;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  background-color: #fcd315;
  color: #222222;
  border-radius: 100%;
  text-align: center;
}
.circle h4 {
  font-size: 18px;
  margin-top: 12px;
  line-height: 14px;
}
.panel-default .panel-heading {
  background-color: #d9dce1;
  padding: 15px 0px;
}
.panel-default .panel-heading h4 {
  text-transform: uppercase;
}
.panel-default .panel-body h5 {
  text-transform: uppercase;
}
.panel-default .panel-footer {
  background-color: #d9dce1;
}
.panel-default .btn-buy {
  color: white;
  background-color: #222222;
  border-color: #222222;
  padding: 15px 40px;
}
.panel-default .btn-buy:hover,
.panel-default .btn-buy:focus,
.panel-default .btn-buy:active,
.panel-default .btn-buy.active,
.open .dropdown-toggle.panel-default .btn-buy {
  color: white;
  background-color: #090909;
  border-color: #040404;
}
.panel-default .btn-buy:active,
.panel-default .btn-buy.active,
.open .dropdown-toggle.panel-default .btn-buy {
  background-image: none;
}
.panel-default .btn-buy.disabled,
.panel-default .btn-buy[disabled],
fieldset[disabled] .panel-default .btn-buy,
.panel-default .btn-buy.disabled:hover,
.panel-default .btn-buy[disabled]:hover,
fieldset[disabled] .panel-default .btn-buy:hover,
.panel-default .btn-buy.disabled:focus,
.panel-default .btn-buy[disabled]:focus,
fieldset[disabled] .panel-default .btn-buy:focus,
.panel-default .btn-buy.disabled:active,
.panel-default .btn-buy[disabled]:active,
fieldset[disabled] .panel-default .btn-buy:active,
.panel-default .btn-buy.disabled.active,
.panel-default .btn-buy[disabled].active,
fieldset[disabled] .panel-default .btn-buy.active {
  background-color: #222222;
  border-color: #222222;
}
.panel-default .btn-buy .badge {
  color: #222222;
  background-color: white;
}
.btn-xl {
  text-transform: uppercase;
}
section {
  padding: 80px 0;
}
@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}
.function-item {
  padding: 20px;
}
.function-item .function-heading {
  font-size: 16px;
  margin-top: 12px;
  line-height: 20px;
}
/*# sourceMappingURL=pastmo.css.map */