@import "kolory.less";


.fc-content .fc-time{
    display: none;
}

body .fc-event {
    border: 1px solid @szary;
    background-color: @szary;
    color: black;
}

body .fc .fc-button-group > * {
     margin:2px;
}