@import "kolory.less";

@wielkosc_miniatury:90px;

@font-face {
    font-family: Graviola-Regular;
    src: url("../fonts/Graviola-Regular.otf") format("opentype");
}

@font-face {
    font-family: Graviola-Regular;
    font-weight: bold;
    src: url("../fonts/Graviola-Regular.otf") format("opentype");
}

body.cremini {
    font-family: "Graviola-Regular";
}

.pasek_gorny {
    width: 100%;
    position: fixed;
    background-color: @kolorPaskaGornego;
    z-index: 900;
    top: 0;
    color: #fff;


    @media (min-width: 768px) {
        margin-left: 250px;
        padding-right: 0px;
    }
    @media (min-width: 768px) {
        margin-left: 250px;
        padding-right: 300px;
    }

}

.btn-yellow{
    .ustaw_kolor_przycisku();
}

.btn.btn-primary{
    .ustaw_kolor_przycisku();
}


.avatar_menu{
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 100%;
}

.miniaturka{
    max-width: @wielkosc_miniatury;
    max-height: @wielkosc_miniatury;
}

.przycisk_wyloguj{
    color: black;
    margin-right: 20%;
    margin-top: 15px;
}

.margin-left-none {
    margin-left: 0px !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.baner {
    height: 100%;
}

.element_maila{
    overflow: hidden;
    max-height: 1.5em;
}

@media (max-width: 768px){
    #chowanie_akcja {
        display: none;
    }

    .navbar-default {
        margin-top: 60px;
    }

    .avatar_menu {
        width: 50%;
        margin: auto;
    }
}



@media (max-width: 768px){
    .reveal-if-active {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    transform: scale(0.8);
    transition: 0.5s;

    label {
	display: block;
	margin: 0 0 3px 0;
    }
    input[type=text] {
	width: 100%;
    }

    input[type="radio"]:checked ~ &,
	input[type="checkbox"]:checked ~ & {
	opacity: 1;
	max-height: 100px;
	padding: 10px 20px;
	transform: scale(1);
	overflow: visible;
    }

}

.avatar-mobile {
    max-height: 40px;
    margin-top: 5px;
}

html body .zapisane{
    border-color: @glowny_kolor !important;
    border-width: 2px;
}

textarea.form-control.notatka_klienta{
    height: auto;
}

.przycisk-rozwijania{
    font-weight: normal;
    font-size: 12px;
}

#page-wrapper th{
    font-size: 15px;
}
