@import "kolory.less";

body .btn-warning {
    .ustaw_kolor_przycisku();
}

body .btn-danger{
   .ustaw_kolor_przycisku();
}

body a.list-group-item{
    .ustaw_kolor_ramki();
}

body pre{
        background-color: @jasny_glowny_kolor;
}

.navbar-right a {
    color: black;
}