<div class="row">
    <div class="col-lg-12">
	<h1 class="page-header">Ustawienia kolumn do wydruku</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
	<div class="panel tabela_dj panel-default">
	    <div class="panel-heading">
	    </div>
	    <div class="panel-body">

		<div class="row">
		    <div class="col-lg-12">
			<form method="POST" action="<?php
			echo $this->url('ustawienia', array('action' => 'zapisz_drukowanie'));
			?>">
				  <?php
				  for ($i = 0; $i < count($this->drukowanie_kolumny); $i++):
				      $kolumna = $this->drukowanie_kolumny[$i];
				      ?>

    			    <div><input
    				    type="checkbox"
    				    name="kolumny[]"
    				    value="<?php echo $i; ?>"
					<?php $this->checked($this->nieaktywne_drukowanie, '' . $i); ?>>
    				<label><?php echo $kolumna; ?></label>
    			    </div>
			    <?php endfor; ?>
			    <input type="submit" value="Zapisz" class="btn btn-danger">
			</form>
		    </div>
		</div></div>

	</div>
    </div>
</div>