
<div class="row">
    <div class="col-lg-12">
		<h1 class="page-header">Dane, które tutaj wpiszesz pojawią się na twoich fakturach jako dane sprzedawcy</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<div class="panel tabela_dj panel-default">
			<div class="panel-heading">
			</div>
			<div class="panel-body">

				<div class="row">
					<div class="col-lg-12">
						<form method="POST" action="<?php
						echo $this->url('ustawienia', array('action' => 'zapisz_wystawce_faktur'));
						?>">

							<div class="form-group">
								<label>Nazwa</label>
								<input
									name="nazwa" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->nazwa; ?>"/>
							</div>

							<div class="form-group">
								<label>NIP</label>
								<input
									name="nip" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->nip; ?>"/>
							</div>

							<div class="form-group">
								<label>Imię i nazwisko osoby wystawiającej</label>
								<input
									name="imie_nazwisko" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->imie_nazwisko; ?>"/>
							</div>

							<div class="form-group">
								<label>Domyślne miejsce wystawienia</label>
								<input
									name="miejsce_wystawienia" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->miejsce_wystawienia; ?>"/>
							</div>
							<div class="form-group">
								<label>Ulica</label>
								<input
									name="ulica" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->adres->ulica; ?>"/>
							</div>
							<div class="form-group">
								<label>Kod</label>
								<input
									name="kod" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->adres->kod; ?>"/>
							</div>
							<div class="form-group">
								<label>Miasto</label>
								<input
									name="miasto" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->adres->miasto; ?>"/>
							</div>


							<input type="submit" value="Zapisz" class="btn btn-danger">
						</form>
					</div>
				</div></div>

		</div>
    </div>
</div>