<div class="row">
    <div class="col-lg-12">
	<h1 class="page-header">Typy zleceń</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

	<?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::zle_DODAWANIE_ZLECEN)): ?>
    	<a href="<?php
	    echo $this->url('zlecenia', array('action' => 'dodaj_typ_zlecenia'));
	    ?>" class="btn btn-danger dodaj_dj">Dodaj typ zlecenia</a>
	   <?php endif; ?>

	<div class="panel tabela_dj panel-default">
	    <div class="panel-heading">
            </div>
	    <div class="panel-body">

		<table class="table table-hover">
		    <thead>
			<tr>
			    <th>Id</th>
			    <th>Typ</th>
			    <th>Kolor</th>
			    <th></th>

			</tr>
		    </thead>
		    <tbody>
			<?php
			$i = 0;
			foreach ($this->typy as $typ):
			    $i++;
			    ?>
    			<tr>
    			    <td><?php echo $i; ?></td>
    			    <td>
				    <?php echo $typ->typ; ?>
    			    </td>
    			    <td><form method="post" action="<?php echo $this->url("ustawienia",array('action'=>'zapisz_typy_zlecen'));?>">
    				    <input name="id" type="hidden" value="<?php echo $typ->id; ?>">
    				    <input name="typ" type="hidden" value="<?php echo $typ->typ; ?>">
    				    <input type="color" id="kolor" name="kolor" onchange="this.form.submit();" value="<?php echo $typ->kolor; ?>" style="width:100%;">
    				</form>
    			    </td>
    			    <td>
				    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::zle_DODAWANIE_ZLECEN)): ?>
					<a class="btn btn-danger" href="<?php
					echo $this->url('zlecenia',
						array('action' => 'edytuj_typ_zlecenia', 'id' => $typ->id));
					?>">
					    Edytuj
					</a>
				    <?php endif; ?>
    			    </td>

    			</tr>
			<?php endforeach; ?>

		    </tbody>
		</table>
	    </div>
	</div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
	<h1 class="page-header">Ustawienia kolumn do wydruku</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
	<div class="panel tabela_dj panel-default">
	    <div class="panel-heading">
	    </div>
	    <div class="panel-body">

		<div class="row">
		    <div class="col-lg-12">
			<form method="POST" action="<?php
			echo $this->url('ustawienia', array('action' => 'zapisz_drukowanie'));
			?>">
				  <?php
				  for ($i = 0; $i < count($this->drukowanie_kolumny); $i++):
				      $kolumna = $this->drukowanie_kolumny[$i];
				      ?>

    			    <div><input
    				    type="checkbox"
    				    name="kolumny[]"
    				    value="<?php echo $i; ?>"
					<?php $this->checked($this->nieaktywne_drukowanie, '' . $i); ?>>
    				<label><?php echo $kolumna; ?></label>
    			    </div>
			    <?php endfor; ?>
			    <input type="submit" value="Zapisz" class="btn btn-danger">
			</form>
		    </div>
		</div></div>

	</div>
    </div>
</div>




<div class="row">
    <div class="col-lg-12">
		<h1 class="page-header">Ustawienia wystawiania faktury</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<div class="panel tabela_dj panel-default">
			<div class="panel-heading">
			</div>
			<div class="panel-body">

				<div class="row">
					<div class="col-lg-12">
						<form method="POST" action="<?php
						echo $this->url('ustawienia', array('action' => 'zapisz_wystawce_faktur'));
						?>">

							<div class="form-group">
								<label>Nazwa</label>
								<input
									name="nazwa" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->nazwa; ?>"/>
							</div>

							<div class="form-group">
								<label>NIP</label>
								<input
									name="nip" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->nip; ?>"/>
							</div>

							<div class="form-group">
								<label>Imię i nazwisko osoby wystawiającej</label>
								<input
									name="imie_nazwisko" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->imie_nazwisko; ?>"/>
							</div>

							<div class="form-group">
								<label>Domyślne miejsce wystawienia</label>
								<input
									name="miejsce_wystawienia" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->miejsce_wystawienia; ?>"/>
							</div>
							<div class="form-group">
								<label>Ulica</label>
								<input
									name="ulica" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->adres->ulica; ?>"/>
							</div>
							<div class="form-group">
								<label>Kod</label>
								<input
									name="kod" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->adres->kod; ?>"/>
							</div>
							<div class="form-group">
								<label>Miasto</label>
								<input
									name="miasto" class="form-control col-lg-4 bez_flo"
									value="<?php echo $this->wystawca->adres->miasto; ?>"/>
							</div>


							<input type="submit" value="Zapisz" class="btn btn-danger">
						</form>
					</div>
				</div></div>

		</div>
    </div>
</div>